In [1]:
import requests
import json
import pandas as pd
import numpy as np
import datetime

In [2]:
from test_key import g_key
import gmaps
import os
import matplotlib.pyplot as plt
from test_key import bls_api_key

## Demographic unemployment rate

In [3]:
# Pull gender, race, educational attainment, and age data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS14000000", "LNS14000001", "LNS14000002", "LNS14000003", "LNS14000006", "LNS14032183", "LNS14000009",
         "LNS14027659", "LNS14027660", "LNS14027689", "LNS14027662", "LNS14024887", "LNS14000089", "LNS14000091",
                "LNS14000093", "LNS14024230"]

start_year = "2008"
end_year = "2008"

parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data = json.loads(p.text)

json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 299,
 'message': [],
 'Results': {'series': [{'seriesID': 'LNS14000000',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.0',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000001',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '8.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.2',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000002',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.8',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.4',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000006',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '12.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '11.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '11.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '11.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '10.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '10.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '9.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '9.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '8.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '9.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '8.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '9.1',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14032183',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '4.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '3.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '4.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '3.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '2.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.1',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000009',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '9.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '8.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '8.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '8.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '8.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '7.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '7.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '6.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '7.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '6.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '6.3',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14027659',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '11.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '10.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '10.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '9.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '9.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '8.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '8.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '8.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '7.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '8.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '7.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '7.7',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14027660',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.7',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14027689',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '5.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.7',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14027662',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '3.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '3.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '2.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '2.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '2.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '2.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '2.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '2.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '2.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '2.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '2.1',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14024887',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '14.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '13.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '13.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '13.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '13.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '12.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '13.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '11.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '11.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '11.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '11.7',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000089',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.1',
      'footnotes': [{}]}]},
   {'seriesID': 'LNS14000091',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '5.9',

In [6]:
years = []
months = []
date = []

for data_point in np.arange(len(json_data["Results"]["series"][0]["data"])):
        years.append(json_data["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data["Results"]["series"][0]["data"][data_point]["periodName"])
        date.append(f"{json_data['Results']['series'][0]['data'][data_point]['year']}-{json_data['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [7]:
# Create DataFrame

unemployment_df = pd.DataFrame({"Date": date,
                                "Year": years,
                                "Month": months,
                                "LNS14000000" : "",
                                "LNS14000001" : "",
                                "LNS14000002" : "",
                                "LNS14000003" : "",
                                "LNS14000006" : "",
                                "LNS14032183" : "",
                                "LNS14000009" : "",
                                "LNS14027659" : "",
                                "LNS14027660" : "",
                                "LNS14027689" : "",
                                "LNS14027662" : "",
                                "LNS14024887" : "",
                                "LNS14000089" : "",
                                "LNS14000091" : "",
                                "LNS14000093" : "",
                                "LNS14024230" : ""})
unemployment_df.head()

,Date,Year,Month,LNS14000000,LNS14000001,LNS14000002,LNS14000003,LNS14000006,LNS14032183,LNS14000009,LNS14027659,LNS14027660,LNS14027689,LNS14027662,LNS14024887,LNS14000089,LNS14000091,LNS14000093,LNS14024230
0,2008-12,2008,December,,,,,,,,,,,,,,,,
1,2008-11,2008,November,,,,,,,,,,,,,,,,
2,2008-10,2008,October,,,,,,,,,,,,,,,,
3,2008-09,2008,September,,,,,,,,,,,,,,,,
4,2008-08,2008,August,,,,,,,,,,,,,,,,

In [8]:
# Fills in values

for series in np.arange(len(json_data["Results"]["series"])):
    for data_point in np.arange(len(json_data["Results"]["series"][series]["data"])):
        unemployment_df.loc[data_point, json_data["Results"]["series"][series]["seriesID"]] = json_data["Results"]["series"][series]["data"][data_point]["value"]

In [9]:
# Rename column labels

unemployment_df.rename(columns={"LNS14000000": "Unemployment Rate for 16yo and over",
                                "LNS14000001": "Unemployment Rate for Men 16yo and over",
                                "LNS14000002": "Unemployment Rate for Women 16yo and over",
                                "LNS14000003": "Unemployment Rate for White people 16yo and over",
                                "LNS14000006": "Unemployment Rate for African Americans 16yo and over",
                                "LNS14032183": "Unemployment Rate for Asian people 16yo and over",
                                "LNS14000009": "Unemployment Rate for Hispanic people 16yo and over",
                                "LNS14027659": "Unemployment Rate for 25yo and older with less than High School Diploma",
                                "LNS14027660": "Unemployment Rate for 25yo and older with High School Degree",
                                "LNS14027689": "Unemployment Rate for 25yo and older with some college",
                                "LNS14027662": "Unemployment Rate for 25yo and older with Bachelor's degree or higher",
                                "LNS14024887": "Unemployment Rate for 16-24yo",
                                "LNS14000089": "Unemployment Rate for 25-34yo",
                                "LNS14000091": "Unemployment Rate for 35-44yo",
                                "LNS14000093": "Unemployment Rate for 45-54yo",
                                "LNS14024230": "Unemployment Rate for 55yo and over"},
                      inplace=True)

unemployment_df.sort_values(by="Date", ascending=True, inplace=True)
unemployment_df.to_csv("Unemployment_Rates.csv", index=False)

unemployment_df

,Date,Year,Month,Unemployment Rate for 16yo and over,Unemployment Rate for Men 16yo and over,Unemployment Rate for Women 16yo and over,Unemployment Rate for White people 16yo and over,Unemployment Rate for African Americans 16yo and over,Unemployment Rate for Asian people 16yo and over,Unemployment Rate for Hispanic people 16yo and over,Unemployment Rate for 25yo and older with less than High School Diploma,Unemployment Rate for 25yo and older with High School Degree,Unemployment Rate for 25yo and older with some college,Unemployment Rate for 25yo and older with Bachelor's degree or higher,Unemployment Rate for 16-24yo,Unemployment Rate for 25-34yo,Unemployment Rate for 35-44yo,Unemployment Rate for 45-54yo,Unemployment Rate for 55yo and over
11,2008-01,2008,January,5.0,5.2,4.8,4.4,9.1,3.1,6.3,7.7,4.7,3.7,2.1,11.7,5.1,3.6,3.4,3.3
10,2008-02,2008,February,4.9,5.0,4.7,4.4,8.4,2.9,6.2,7.4,4.7,3.8,2.0,11.4,4.9,3.6,3.4,3.3
9,2008-03,2008,March,5.1,5.2,5.0,4.5,9.2,3.6,6.9,8.4,5.1,3.9,2.1,11.4,5.3,3.8,3.5,3.4
8,2008-04,2008,April,5.0,5.2,4.8,4.4,8.6,3.5,7.1,7.7,5.0,4.0,2.1,11.0,5.1,3.9,3.7,3.0
7,2008-05,2008,May,5.4,5.6,5.2,4.8,9.6,4.1,6.9,8.1,5.0,4.3,2.2,13.0,5.2,4.2,3.8,3.2
6,2008-06,2008,June,5.6,5.8,5.3,5.0,9.4,4.2,7.6,8.7,5.1,4.3,2.4,12.9,5.4,4.4,3.8,3.3
5,2008-07,2008,July,5.8,6.2,5.3,5.2,10.0,3.7,7.5,8.6,5.4,4.6,2.5,13.5,5.7,4.7,3.8,3.7
4,2008-08,2008,August,6.1,6.3,5.9,5.4,10.6,4.5,8.0,9.7,5.8,4.9,2.8,13.1,6.2,5.1,4.3,4.2
3,2008-09,2008,September,6.1,6.7,5.5,5.4,11.3,4.0,8.0,9.8,6.2,5.0,2.6,13.5,6.2,5.1,4.3,4.2
2,2008-10,2008,October,6.5,7.1,5.9,5.9,11.4,3.9,8.8,10.3,6.4,5.2,3.1,13.6,6.7,5.4,4.6,4.5
1,2008-11,2008,November,6.8,7.4,6.2,6.2,11.5,4.8,8.7,10.8,7.0,5.5,3.2,14.0,7.1,5.5,5.1,4.8
0,2008-12,2008,December,7.3,8.0,6.5,6.7,12.1,5.1,9.4,11.1,7.8,5.7,3.6,14.8,7.6,5.9,5.6,5.0

## Statewide unemployment rate

In [10]:
# Pull state data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LASST010000000000003", "LASST020000000000003", "LASST040000000000003", "LASST050000000000003",
                 "LASST060000000000003", "LASST080000000000003", "LASST090000000000003", "LASST100000000000003",
                 "LASST110000000000003", "LASST120000000000003", "LASST130000000000003", "LASST150000000000003",
                 "LASST160000000000003", "LASST170000000000003", "LASST180000000000003", "LASST190000000000003",
                 "LASST200000000000003", "LASST210000000000003", "LASST220000000000003", "LASST230000000000003",
                 "LASST240000000000003", "LASST250000000000003", "LASST260000000000003", "LASST270000000000003",
                 "LASST280000000000003", "LASST290000000000003", "LASST300000000000003", "LASST310000000000003",
                 "LASST320000000000003", "LASST330000000000003", "LASST340000000000003", "LASST350000000000003",
                 "LASST360000000000003", "LASST370000000000003", "LASST380000000000003", "LASST390000000000003",
                 "LASST400000000000003", "LASST410000000000003", "LASST420000000000003", "LASST720000000000003",
                 "LASST440000000000003", "LASST450000000000003", "LASST460000000000003", "LASST470000000000003",
                 "LASST480000000000003", "LASST490000000000003", "LASST500000000000003", "LASST510000000000003",
                 "LASST530000000000003", "LASST540000000000003"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)
json_data2 = json.loads(p.text)


json_data2

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 623,
 'message': [],
 'Results': {'series': [{'seriesID': 'LASST010000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '8.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.4',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST020000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '6.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '6.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '6.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '6.5',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST040000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '8.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.5',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST050000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.0',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST060000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '9.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '8.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '8.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '7.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '7.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '7.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '7.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '6.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '6.0',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST080000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.1',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST090000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.9',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST100000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.8',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST110000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '6.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.7',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST120000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '8.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '7.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '6.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.8',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST130000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '8.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.1',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST150000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '5.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '3.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.2',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST160000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.6',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '6.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '6.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.0',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.0',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST170000000000003',

In [15]:
# Pull state data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LASST550000000000003", "LASST560000000000003"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data3 = json.loads(p.text)

json_data3

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 110,
 'message': [],
 'Results': {'series': [{'seriesID': 'LASST550000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '6.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.4',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.5',
      'footnotes': [{}]}]},
   {'seriesID': 'LASST560000000000003',
    'data': [{'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '3.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '3.3',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '3.2',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '3.1',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '2.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '2.9',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '2.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M04',
      'periodName': 'April',
      'value': '2.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M03',
      'periodName': 'March',
      'value': '2.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M02',
      'periodName': 'February',
      'value': '2.8',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M01',
      'periodName': 'January',
      'value': '2.8',
      'footnotes': [{}]}]}]}}

In [16]:
years = []
months = []
date = []

for data_point in np.arange(len(json_data2["Results"]["series"][0]["data"])):
        years.append(json_data2["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data2["Results"]["series"][0]["data"][data_point]["periodName"])
        date.append(f"{json_data['Results']['series'][0]['data'][data_point]['year']}-{json_data['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [17]:
# Create DataFrame

state_unemployment_df = pd.DataFrame({"Date": date,
                                "Year": years,
                                "Month": months,
                                "LASST010000000000003": "", "LASST020000000000003": "", "LASST040000000000003": "",
                                "LASST050000000000003": "", "LASST060000000000003": "", "LASST080000000000003": "",
                                "LASST090000000000003": "", "LASST100000000000003": "", "LASST110000000000003": "",
                                "LASST120000000000003": "", "LASST130000000000003": "", "LASST150000000000003": "",
                                "LASST160000000000003": "", "LASST170000000000003": "", "LASST180000000000003": "",
                                "LASST190000000000003": "", "LASST200000000000003": "", "LASST210000000000003": "",
                                "LASST220000000000003": "", "LASST230000000000003": "", "LASST240000000000003": "",
                                "LASST250000000000003": "", "LASST260000000000003": "", "LASST270000000000003": "",
                                "LASST280000000000003": "", "LASST290000000000003": "", "LASST300000000000003": "",
                                "LASST310000000000003": "", "LASST320000000000003": "", "LASST330000000000003": "",
                                "LASST340000000000003": "", "LASST350000000000003": "", "LASST360000000000003": "",
                                "LASST370000000000003": "", "LASST380000000000003": "", "LASST390000000000003": "",
                                "LASST400000000000003": "", "LASST410000000000003": "", "LASST420000000000003": "",
                                "LASST720000000000003": "", "LASST440000000000003": "", "LASST450000000000003": "",
                                "LASST460000000000003": "", "LASST470000000000003": "", "LASST480000000000003": "",
                                "LASST490000000000003": "", "LASST500000000000003": "", "LASST510000000000003": "",
                                "LASST530000000000003": "", "LASST540000000000003": "", "LASST550000000000003": "",
                                "LASST560000000000003": ""})
state_unemployment_df.head()
state_unemployment_df.head()

,Date,Year,Month,LASST010000000000003,LASST020000000000003,LASST040000000000003,LASST050000000000003,LASST060000000000003,LASST080000000000003,LASST090000000000003,...,LASST460000000000003,LASST470000000000003,LASST480000000000003,LASST490000000000003,LASST500000000000003,LASST510000000000003,LASST530000000000003,LASST540000000000003,LASST550000000000003,LASST560000000000003
0,2008-12,2008,December,,,,,,,,...,,,,,,,,,,
1,2008-11,2008,November,,,,,,,,...,,,,,,,,,,
2,2008-10,2008,October,,,,,,,,...,,,,,,,,,,
3,2008-09,2008,September,,,,,,,,...,,,,,,,,,,
4,2008-08,2008,August,,,,,,,,...,,,,,,,,,,

In [18]:

state_unemployment_df = pd.DataFrame({"Date": date,
                                      "Year": years,
                                      
                                      
                                "LASST010000000000003": "", "LASST020000000000003": "", "LASST040000000000003": "",
                                "LASST050000000000003": "", "LASST060000000000003": "", "LASST080000000000003": "",
                                "LASST090000000000003": "", "LASST100000000000003": "", "LASST110000000000003": "",
                                "LASST120000000000003": "", "LASST130000000000003": "", "LASST150000000000003": "",
                                "LASST160000000000003": "", "LASST170000000000003": "", "LASST180000000000003": "",
                                "LASST190000000000003": "", "LASST200000000000003": "", "LASST210000000000003": "",
                                "LASST220000000000003": "", "LASST230000000000003": "", "LASST240000000000003": "",
                                "LASST250000000000003": "", "LASST260000000000003": "", "LASST270000000000003": "",
                                "LASST280000000000003": "", "LASST290000000000003": "", "LASST300000000000003": "",
                                "LASST310000000000003": "", "LASST320000000000003": "", "LASST330000000000003": "",
                                "LASST340000000000003": "", "LASST350000000000003": "", "LASST360000000000003": "",
                                "LASST370000000000003": "", "LASST380000000000003": "", "LASST390000000000003": "",
                                "LASST400000000000003": "", "LASST410000000000003": "", "LASST420000000000003": "",
                                "LASST720000000000003": "", "LASST440000000000003": "", "LASST450000000000003": "",
                                "LASST460000000000003": "", "LASST470000000000003": "", "LASST480000000000003": "",
                                "LASST490000000000003": "", "LASST500000000000003": "", "LASST510000000000003": "",
                                "LASST530000000000003": "", "LASST540000000000003": "", "LASST550000000000003": "",
                                "LASST560000000000003": ""})
state_unemployment_df.head()

,Date,Year,LASST010000000000003,LASST020000000000003,LASST040000000000003,LASST050000000000003,LASST060000000000003,LASST080000000000003,LASST090000000000003,LASST100000000000003,...,LASST460000000000003,LASST470000000000003,LASST480000000000003,LASST490000000000003,LASST500000000000003,LASST510000000000003,LASST530000000000003,LASST540000000000003,LASST550000000000003,LASST560000000000003
0,2008-12,2008,,,,,,,,,...,,,,,,,,,,
1,2008-11,2008,,,,,,,,,...,,,,,,,,,,
2,2008-10,2008,,,,,,,,,...,,,,,,,,,,
3,2008-09,2008,,,,,,,,,...,,,,,,,,,,
4,2008-08,2008,,,,,,,,,...,,,,,,,,,,

In [19]:
# Fills in values

for series2 in np.arange(len(json_data2["Results"]["series"])):
    for data_point2 in np.arange(len(json_data2["Results"]["series"][series2]["data"])):
        state_unemployment_df.loc[data_point2, json_data2["Results"]["series"][series2]["seriesID"]] = json_data2["Results"]["series"][series2]["data"][data_point2]["value"]

for series3 in np.arange(len(json_data3["Results"]["series"])):
    for data_point3 in np.arange(len(json_data3["Results"]["series"][series3]["data"])):
        state_unemployment_df.loc[data_point3, json_data3["Results"]["series"][series3]["seriesID"]] = json_data3["Results"]["series"][series3]["data"][data_point3]["value"]

In [20]:
# Rename Column labels

state_unemployment_df.rename(columns={"LASST010000000000003" : "Alabama", "LASST020000000000003" : "Alaska",
                                      "LASST040000000000003" : "Arizona", "LASST050000000000003" : "Arkansas",
                                      "LASST060000000000003" : "California", "LASST080000000000003" : "Colorado",
                                      "LASST090000000000003" : "Connecticut", "LASST100000000000003" : "Delaware",
                                      "LASST110000000000003" : "District Of Columbia", "LASST120000000000003" : "Florida",
                                      "LASST130000000000003" : "Georgia", "LASST150000000000003" : "Hawaii",
                                      "LASST160000000000003" : "Idaho", "LASST170000000000003" : "Illinois",
                                      "LASST180000000000003" : "Indiana", "LASST190000000000003" : "Iowa",
                                      "LASST200000000000003" : "Kansas", "LASST210000000000003" : "Kentucky",
                                      "LASST220000000000003" : "Louisiana", "LASST230000000000003" : "Maine",
                                      "LASST240000000000003" : "Maryland", "LASST250000000000003" : "Massachusetts",
                                      "LASST260000000000003" : "Michigan", "LASST270000000000003" : "Minnesota",
                                      "LASST280000000000003" : "Mississippi", "LASST290000000000003" : "Missouri",
                                      "LASST300000000000003" : "Montana", "LASST310000000000003" : "Nebraska",
                                      "LASST320000000000003" : "Nevada", "LASST330000000000003" : "New Hampshire",
                                      "LASST340000000000003" : "New Jersey", "LASST350000000000003" : "New Mexico",
                                      "LASST360000000000003" : "New York", "LASST370000000000003" : "North Carolina",
                                      "LASST380000000000003" : "North Dakota", "LASST390000000000003" : "Ohio",
                                      "LASST400000000000003" : "Oklahoma", "LASST410000000000003" : "Oregon",
                                      "LASST420000000000003" : "Pennsylvania", "LASST720000000000003" : "Puerto Rico",
                                      "LASST440000000000003" : "Rhode Island", "LASST450000000000003" : "South Carolina",
                                      "LASST460000000000003" : "South Dakota", "LASST470000000000003" : "Tennessee",
                                      "LASST480000000000003" : "Texas", "LASST490000000000003" : "Utah",
                                      "LASST500000000000003" : "Vermont", "LASST510000000000003" : "Virginia",
                                      "LASST530000000000003" : "Washington", "LASST540000000000003" : "West Virginia",
                                      "LASST550000000000003" : "Wisconsin", "LASST560000000000003" : "Wyoming"},
                             inplace=True)

state_unemployment_df.sort_values(by="Date", ascending=True, inplace=True)

state_unemployment_df.to_csv("State_Unemployment_Rates.csv", index=False)

state_unemployment_df

,Date,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
11,2008-01,2008,4.4,6.5,4.5,5.0,6.0,4.1,4.9,3.8,...,2.6,5.4,4.3,3.0,4.3,3.4,4.7,4.5,4.5,2.8
10,2008-02,2008,4.5,6.5,4.7,5.0,6.1,4.2,5.0,3.9,...,2.6,5.5,4.3,3.0,4.3,3.4,4.7,4.4,4.4,2.8
9,2008-03,2008,4.6,6.6,5.0,4.9,6.2,4.3,5.1,4.0,...,2.6,5.6,4.3,3.1,4.3,3.4,4.8,4.3,4.3,2.8
8,2008-04,2008,4.8,6.6,5.3,5.0,6.5,4.4,5.2,4.1,...,2.7,5.8,4.4,3.2,4.4,3.5,4.9,4.2,4.3,2.8
7,2008-05,2008,5.1,6.7,5.6,5.0,6.7,4.5,5.3,4.3,...,2.8,6.1,4.5,3.2,4.4,3.7,5.0,4.1,4.4,2.8
6,2008-06,2008,5.3,6.7,5.9,5.2,7.0,4.7,5.5,4.6,...,2.9,6.4,4.6,3.3,4.5,3.8,5.2,4.1,4.5,2.9
5,2008-07,2008,5.6,6.7,6.3,5.3,7.3,4.9,5.7,4.9,...,3.1,6.7,4.8,3.4,4.6,3.9,5.4,4.0,4.7,2.9
4,2008-08,2008,5.9,6.7,6.6,5.5,7.6,5.0,5.9,5.2,...,3.2,6.9,4.9,3.6,4.7,4.0,5.5,4.1,4.9,3.1
3,2008-09,2008,6.2,6.8,6.9,5.8,7.9,5.2,6.1,5.6,...,3.4,7.2,5.1,3.7,4.8,4.2,5.7,4.2,5.2,3.2
2,2008-10,2008,6.7,6.8,7.3,6.1,8.3,5.4,6.3,6.0,...,3.5,7.5,5.3,3.9,5.1,4.4,6.0,4.4,5.5,3.3
1,2008-11,2008,7.4,6.9,7.6,6.4,8.7,5.6,6.4,6.4,...,3.8,7.9,5.6,4.1,5.4,4.7,6.3,4.8,5.9,3.5
0,2008-12,2008,8.1,7.0,8.0,6.8,9.2,5.9,6.6,6.8,...,4.0,8.5,5.8,5.5,5.7,5.1,6.7,5.3,6.5,3.9

In [ ]:
state

In [21]:
for col in state_unemployment_df.columns[1:]:
    print(col , state_unemployment_df[col].astype(float).mean() df.iloc[col,lt].value)

SyntaxError: invalid syntax (<ipython-input-21-69aece275448>, line 2)

In [22]:
state_year_df = state_unemployment_df
print state_year_df.groupby('Year').groups

SyntaxError: invalid syntax (<ipython-input-22-deadb6fee07e>, line 2)

In [23]:
newstate_unem_df = state_unemployment_df.T
newstate_unem_df.head()

,11,10,9,8,7,6,5,4,3,2,1,0
Date,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12
Year,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Alabama,4.4,4.5,4.6,4.8,5.1,5.3,5.6,5.9,6.2,6.7,7.4,8.1
Alaska,6.5,6.5,6.6,6.6,6.7,6.7,6.7,6.7,6.8,6.8,6.9,7.0
Arizona,4.5,4.7,5.0,5.3,5.6,5.9,6.3,6.6,6.9,7.3,7.6,8.0

In [24]:
#t_df.columns = t_df.loc["Year"].to_numpy()
newstate_unem_df.columns = newstate_unem_df.loc["Year"].to_numpy()
newstate_unem_df.head(10)

,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Date,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12
Year,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Alabama,4.4,4.5,4.6,4.8,5.1,5.3,5.6,5.9,6.2,6.7,7.4,8.1
Alaska,6.5,6.5,6.6,6.6,6.7,6.7,6.7,6.7,6.8,6.8,6.9,7.0
Arizona,4.5,4.7,5.0,5.3,5.6,5.9,6.3,6.6,6.9,7.3,7.6,8.0
Arkansas,5.0,5.0,4.9,5.0,5.0,5.2,5.3,5.5,5.8,6.1,6.4,6.8
California,6.0,6.1,6.2,6.5,6.7,7.0,7.3,7.6,7.9,8.3,8.7,9.2
Colorado,4.1,4.2,4.3,4.4,4.5,4.7,4.9,5.0,5.2,5.4,5.6,5.9
Connecticut,4.9,5.0,5.1,5.2,5.3,5.5,5.7,5.9,6.1,6.3,6.4,6.6
Delaware,3.8,3.9,4.0,4.1,4.3,4.6,4.9,5.2,5.6,6.0,6.4,6.8

In [25]:

newstate_unem_df.head(10)

,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Date,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12
Year,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Alabama,4.4,4.5,4.6,4.8,5.1,5.3,5.6,5.9,6.2,6.7,7.4,8.1
Alaska,6.5,6.5,6.6,6.6,6.7,6.7,6.7,6.7,6.8,6.8,6.9,7.0
Arizona,4.5,4.7,5.0,5.3,5.6,5.9,6.3,6.6,6.9,7.3,7.6,8.0
Arkansas,5.0,5.0,4.9,5.0,5.0,5.2,5.3,5.5,5.8,6.1,6.4,6.8
California,6.0,6.1,6.2,6.5,6.7,7.0,7.3,7.6,7.9,8.3,8.7,9.2
Colorado,4.1,4.2,4.3,4.4,4.5,4.7,4.9,5.0,5.2,5.4,5.6,5.9
Connecticut,4.9,5.0,5.1,5.2,5.3,5.5,5.7,5.9,6.1,6.3,6.4,6.6
Delaware,3.8,3.9,4.0,4.1,4.3,4.6,4.9,5.2,5.6,6.0,6.4,6.8

In [ ]:
newstate_unem_df.mean()

In [ ]:
state_unem_df = newstate_unem_df.T
state_unem_df

In [ ]:
#for col in state_unemployment_df.columns[1:]:
   # print(col , state_unemployment_df[col].astype(float).mean() df.iloc[col,lt].value)

In [ ]:
t_df = state_unemployment_df.transpose(copy=True)
t_df.head()

In [ ]:
t_df = state_unemployment_df.transpose(copy=True)
t_df.head()

In [ ]:
t_df.columns = t_df.loc["Year"].to_numpy()
t_df.head()

In [ ]:
for col in state_unemployment_df.columns[1:]:
    print(col , state_unemployment_df[col].astype(float).mean() df.iloc[col,lt].value)

In [ ]:
df = pd.read_csv("states.csv",delimiter="\t")
df.head()

In [ ]:
ls

In [ ]:
import time
from scipy.stats import linregress
from statepy import statepy