In [ ]:
import requests
import json
import pandas as pd
import numpy as np
import datetime
import calendar
from config import bls_api_key

In [ ]:
start_year = "2006"
end_year = "2018"

## Demographic BLS Data Pull

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS14000000", "LNS14000001", "LNS14000002", "LNS14000003", "LNS14000004", "LNS14000005",
                 "LNS14000006", "LNS14000007", "LNS14000008", "LNS14032183", "LNS14000009", "LNS14000012",
                 "LNS14000013", "LNS14000014", "LNS14000015", "LNS14000016", "LNS14000017", "LNS14000018",
                 "LNS14000019", "LNS14000020", "LNS14000021", "LNS14000022", "LNS14000023", "LNS14000036",
                 "LNS14000037", "LNS14000038", "LNS14000089", "LNS14000164", "LNS14000327", "LNS14000091",
                 "LNS14000173", "LNS14000334", "LNS14000093", "LNS14000182", "LNS14000341", "LNS14024230",
                 "LNS14024231", "LNS14024232", "LNS14000048", "LNS14000049", "LNS14000050", "LNS14027659",
                 "LNS14027660", "LNS14027689", "LNS14027662", "LNS14000024", "LNS14000025", "LNS14000026",
                 "LNS14000027", "LNS14000028"]


parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data5 = json.loads(p.text)

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS14000029", "LNS14000030", "LNS14000031", "LNS14000032",
                 "LNS14000033", "LNS14000034", "LNS14000035"]


parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data6 = json.loads(p.text)

In [ ]:
Year = []
date = []

for data_point in np.arange(len(json_data5["Results"]["series"][0]["data"])):
        Year.append(f"{json_data5['Results']['series'][0]['data'][data_point]['year']}")
        date.append(f"{json_data5['Results']['series'][0]['data'][data_point]['year']}-{json_data5['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [ ]:
unemployment_df = pd.DataFrame({"Date": date, "Year": Year,
                                "LNS14000000": "", "LNS14000001": "", "LNS14000002": "",
                                "LNS14000003": "", "LNS14000004": "", "LNS14000005": "",
                                "LNS14000006": "", "LNS14000007": "", "LNS14000008": "",
                                "LNS14032183": "", "LNS14000009": "", "LNS14000012": "",
                                "LNS14000013": "", "LNS14000014": "", "LNS14000015": "",
                                "LNS14000016": "", "LNS14000017": "", "LNS14000018": "",
                                "LNS14000019": "", "LNS14000020": "", "LNS14000021": "",
                                "LNS14000022": "", "LNS14000023": "", "LNS14000024": "",
                                "LNS14000025": "", "LNS14000026": "", "LNS14000027": "",
                                "LNS14000028": "", "LNS14000029": "", "LNS14000030": "",
                                "LNS14000031": "", "LNS14000032": "", "LNS14000033": "",
                                "LNS14000034": "", "LNS14000035": "", "LNS14000036": "",
                                "LNS14000037": "", "LNS14000038": "", "LNS14000089": "",
                                "LNS14000164": "", "LNS14000327": "", "LNS14000091": "",
                                "LNS14000173": "", "LNS14000334": "", "LNS14000093": "",
                                "LNS14000182": "", "LNS14000341": "", "LNS14024230": "",
                                "LNS14024231": "", "LNS14024232": "", "LNS14000048": "",
                                "LNS14000049": "", "LNS14000050": "", "LNS14027659": "",
                                "LNS14027660": "", "LNS14027689": "", "LNS14027662": ""})

unemployment_df.head()

In [ ]:
for series5 in np.arange(len(json_data5["Results"]["series"])):
    for data_point5 in np.arange(len(json_data5["Results"]["series"][series5]["data"])):
        unemployment_df.loc[data_point5, json_data5["Results"]["series"][series5]["seriesID"]] = json_data5["Results"]["series"][series5]["data"][data_point5]["value"]

for series in np.arange(len(json_data6["Results"]["series"])):
    for data_point in np.arange(len(json_data6["Results"]["series"][series]["data"])):
        unemployment_df.loc[data_point, json_data6["Results"]["series"][series]["seriesID"]] = json_data6["Results"]["series"][series]["data"][data_point]["value"]

In [ ]:
for column in unemployment_df.columns[3:]:
    unemployment_df[f"{column}"] = unemployment_df[f"{column}"].astype(float)

In [ ]:
unemployment_df = unemployment_df.rename(columns={"LNS14000000": "Unemployment Rate, 16yo and over",
                                                  "LNS14000001": "Unemployment Rate, Men, 16yo and over",
                                                  "LNS14000002": "Unemployment Rate, Women, 16yo and over",
                                                  "LNS14000003": "Unemployment Rate, White, 16yo and over",
                                                  "LNS14000004": "Unemployment Rate, White, Men, 16yo and over",
                                                  "LNS14000005": "Unemployment Rate, White, Women, 16yo and over",
                                                  "LNS14000006": "Unemployment Rate, African American, 16yo and over",
                                                  "LNS14000007": "Unemployment Rate, African American, Men, 16yo and over",
                                                  "LNS14000008": "Unemployment Rate, African American, Women, 16yo and over",
                                                  "LNS14032183": "Unemployment Rate, Asian, 16yo and over",
                                                  "LNS14000009": "Unemployment Rate, Hispanic or Latino, 16yo and over",
                                                  "LNS14000012": "Unemployment Rate, 16-19yo",
                                                  "LNS14000013": "Unemployment Rate, Men, 16-19yo",
                                                  "LNS14000014": "Unemployment Rate, Women, 16-19yo",
                                                  "LNS14000015": "Unemployment Rate, White, 16-19yo",
                                                  "LNS14000016": "Unemployment Rate, White, Men, 16-19yo",
                                                  "LNS14000017": "Unemployment Rate, White, Women, 16-19yo",
                                                  "LNS14000018": "Unemployment Rate, African American, 16-19yo",
                                                  "LNS14000019": "Unemployment Rate, African American, Men, 16-19yo",
                                                  "LNS14000020": "Unemployment Rate, African American, Women, 16-19yo",
                                                  "LNS14000021": "Unemployment Rate, Hispanic or Latino, 16-19yo",
                                                  "LNS14000022": "Unemployment Rate, Hispanic or Latino, Men, 16-19yo",
                                                  "LNS14000023": "Unemployment Rate, Hispanic or Latino, Women, 16-19yo",
                                                  "LNS14000024": "Unemployment Rate, 20yo and over",
                                                  "LNS14000025": "Unemployment Rate, Men, 20yo and over",
                                                  "LNS14000026": "Unemployment Rate, Women, 20yo and over",
                                                  "LNS14000027": "Unemployment Rate, White, 20yo and over",
                                                  "LNS14000028": "Unemployment Rate, White, Men, 20yo and over",
                                                  "LNS14000029": "Unemployment Rate, White, Women, 20yo and over",
                                                  "LNS14000030": "Unemployment Rate, African American, 20yo and over",
                                                  "LNS14000031": "Unemployment Rate, African American, Men, 20yo and over",
                                                  "LNS14000032": "Unemployment Rate, African American, Women, 20yo and over",
                                                  "LNS14000033": "Unemployment Rate, Hispanic or Latino",
                                                  "LNS14000034": "Unemployment Rate, Hispanic or Latino, Men, 20yo and over",
                                                  "LNS14000035": "Unemployment Rate, Hispanic or Latino, Women, 20yo and over",
                                                  "LNS14000036": "Unemployment Rate, 20-24yo",
                                                  "LNS14000037": "Unemployment Rate, Men, 20-24yo",
                                                  "LNS14000038": "Unemployment Rate, Women, 20-24yo",
                                                  "LNS14000089": "Unemployment Rate, 25-34yo",
                                                  "LNS14000164": "Unemployment Rate, Men, 25-34yo",
                                                  "LNS14000327": "Unemployment Rate, Women, 25-34yo",
                                                  "LNS14000091": "Unemployment Rate, 35-44yo",
                                                  "LNS14000173": "Unemployment Rate, Men, 35-44yo",
                                                  "LNS14000334": "Unemployment Rate, Women, 35-44yo",
                                                  "LNS14000093": "Unemployment Rate, 45-54yo",
                                                  "LNS14000182": "Unemployment Rate, Men, 45-54yo",
                                                  "LNS14000341": "Unemployment Rate, Women, 45-54yo",
                                                  "LNS14024230": "Unemployment Rate, 55yo and over",
                                                  "LNS14024231": "Unemployment Rate, Men, 55yo and over",
                                                  "LNS14024232": "Unemployment Rate, Women, 55yo and over",
                                                  "LNS14000048": "Unemployment Rate, 25yo and over",
                                                  "LNS14000049": "Unemployment Rate, Men, 25yo and over",
                                                  "LNS14000050": "Unemployment Rate, Women, 25yo and over",
                                                  "LNS14027659": "Unemployment Rate, Less than High School diploma, 25yo and over",
                                                  "LNS14027660": "Unemployment Rate, High school-no college, 25yo and over",
                                                  "LNS14027689": "Unemployment Rate, Some college, 25yo and over",
                                                  "LNS14027662": "Unemployment Rate, Bachelor's degree or higher, 25yo and over"})


unemployment_df.sort_values(by="Date", ascending=True, inplace=True)

unemployment_df.reset_index(drop=True, inplace=True)

unemployment_df.to_csv("unemployment_rate.csv", index=False)

In [ ]:
pull_education_df = unemployment_df
len(pull_education_df)

In [ ]:
educationyears = pull_education_df['Year'].unique()
educationmonthnumber = [ ]

for year in educationyears:
    educationmonth = 13
    while (educationmonth > 1): 
        educationmonth = educationmonth -1
        educationmonthnumber.append(educationmonth)
        if  educationmonth == 0:
            break
pull_education_df['Month #'] = educationmonthnumber

In [ ]:
education_df = pull_education_df[['Year', 'Month #', 'Unemployment Rate, Less than High School diploma, 25yo and over',
                  'Unemployment Rate, High school-no college, 25yo and over', 
                  'Unemployment Rate, Some college, 25yo and over',
                  "Unemployment Rate, Bachelor's degree or higher, 25yo and over"]]

education_df = education_df.rename(columns={'Unemployment Rate, Less than High School diploma, 25yo and over': "No High School Diploma",
                                           'Unemployment Rate, High school-no college, 25yo and over': 'High School Graduate',
                                           'Unemployment Rate, Some college, 25yo and over': 'Some College',
                                           "Unemployment Rate, Bachelor's degree or higher, 25yo and over": "Bachelor's Degree or Higher"})

In [ ]:
educationdate = []

for index, row in education_df.iterrows():
    educationdatenumber = str(f"{row['Year']}-{row['Month #']}")
    educationdate.append(educationdatenumber)

education_df['Date'] = educationdate

education_df = education_df[['Year', 'Month #', 'Date', 'No High School Diploma', 'High School Graduate',
                            'Some College', "Bachelor's Degree or Higher"]]
                     
education_df = education_df.reindex(index=education_df.index[::-1])
education_df.head()

In [ ]:
#send data to plotting csv

## Statewide Unemployment

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LASST010000000000003", "LASST020000000000003", "LASST040000000000003", "LASST050000000000003",
                 "LASST060000000000003", "LASST080000000000003", "LASST090000000000003", "LASST100000000000003",
                 "LASST110000000000003", "LASST120000000000003", "LASST130000000000003", "LASST150000000000003",
                 "LASST160000000000003", "LASST170000000000003", "LASST180000000000003", "LASST190000000000003",
                 "LASST200000000000003", "LASST210000000000003", "LASST220000000000003", "LASST230000000000003",
                 "LASST240000000000003", "LASST250000000000003", "LASST260000000000003", "LASST270000000000003",
                 "LASST280000000000003", "LASST290000000000003", "LASST300000000000003", "LASST310000000000003",
                 "LASST320000000000003", "LASST330000000000003", "LASST340000000000003", "LASST350000000000003",
                 "LASST360000000000003", "LASST370000000000003", "LASST380000000000003", "LASST390000000000003",
                 "LASST400000000000003", "LASST410000000000003", "LASST420000000000003", "LASST720000000000003",
                 "LASST440000000000003", "LASST450000000000003", "LASST460000000000003", "LASST470000000000003",
                 "LASST480000000000003", "LASST490000000000003", "LASST500000000000003", "LASST510000000000003",
                 "LASST530000000000003", "LASST540000000000003"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data2 = json.loads(p.text)

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LASST550000000000003", "LASST560000000000003"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data3 = json.loads(p.text)

In [ ]:
Year = []
date = []

for data_point in np.arange(len(json_data2["Results"]["series"][0]["data"])):
        Year.append(f"{json_data2['Results']['series'][0]['data'][data_point]['year']}")
        date.append(f"{json_data2['Results']['series'][0]['data'][data_point]['year']}-{json_data2['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [ ]:
state_unemployment_df = pd.DataFrame({"Date": date, "Year": Year,
                                "LASST010000000000003": "", "LASST020000000000003": "", "LASST040000000000003": "",
                                "LASST050000000000003": "", "LASST060000000000003": "", "LASST080000000000003": "",
                                "LASST090000000000003": "", "LASST100000000000003": "", "LASST110000000000003": "",
                                "LASST120000000000003": "", "LASST130000000000003": "", "LASST150000000000003": "",
                                "LASST160000000000003": "", "LASST170000000000003": "", "LASST180000000000003": "",
                                "LASST190000000000003": "", "LASST200000000000003": "", "LASST210000000000003": "",
                                "LASST220000000000003": "", "LASST230000000000003": "", "LASST240000000000003": "",
                                "LASST250000000000003": "", "LASST260000000000003": "", "LASST270000000000003": "",
                                "LASST280000000000003": "", "LASST290000000000003": "", "LASST300000000000003": "",
                                "LASST310000000000003": "", "LASST320000000000003": "", "LASST330000000000003": "",
                                "LASST340000000000003": "", "LASST350000000000003": "", "LASST360000000000003": "",
                                "LASST370000000000003": "", "LASST380000000000003": "", "LASST390000000000003": "",
                                "LASST400000000000003": "", "LASST410000000000003": "", "LASST420000000000003": "",
                                "LASST720000000000003": "", "LASST440000000000003": "", "LASST450000000000003": "",
                                "LASST460000000000003": "", "LASST470000000000003": "", "LASST480000000000003": "",
                                "LASST490000000000003": "", "LASST500000000000003": "", "LASST510000000000003": "",
                                "LASST530000000000003": "", "LASST540000000000003": "", "LASST550000000000003": "",
                                "LASST560000000000003": ""})

In [ ]:
for series2 in np.arange(len(json_data2["Results"]["series"])):
    for data_point2 in np.arange(len(json_data2["Results"]["series"][series2]["data"])):
        state_unemployment_df.loc[data_point2, json_data2["Results"]["series"][series2]["seriesID"]] = json_data2["Results"]["series"][series2]["data"][data_point2]["value"]

for series3 in np.arange(len(json_data3["Results"]["series"])):
    for data_point3 in np.arange(len(json_data3["Results"]["series"][series3]["data"])):
        state_unemployment_df.loc[data_point3, json_data3["Results"]["series"][series3]["seriesID"]] = json_data3["Results"]["series"][series3]["data"][data_point3]["value"]

In [ ]:
for column in state_unemployment_df.columns[3:]:
    state_unemployment_df[f"{column}"] = state_unemployment_df[f"{column}"].astype(float)

state_unemployment_df.rename(columns={"LASST010000000000003" : "Alabama", "LASST020000000000003" : "Alaska",
                                      "LASST040000000000003" : "Arizona", "LASST050000000000003" : "Arkansas",
                                      "LASST060000000000003" : "California", "LASST080000000000003" : "Colorado",
                                      "LASST090000000000003" : "Connecticut", "LASST100000000000003" : "Delaware",
                                      "LASST110000000000003" : "District Of Columbia", "LASST120000000000003" : "Florida",
                                      "LASST130000000000003" : "Georgia", "LASST150000000000003" : "Hawaii",
                                      "LASST160000000000003" : "Idaho", "LASST170000000000003" : "Illinois",
                                      "LASST180000000000003" : "Indiana", "LASST190000000000003" : "Iowa",
                                      "LASST200000000000003" : "Kansas", "LASST210000000000003" : "Kentucky",
                                      "LASST220000000000003" : "Louisiana", "LASST230000000000003" : "Maine",
                                      "LASST240000000000003" : "Maryland", "LASST250000000000003" : "Massachusetts",
                                      "LASST260000000000003" : "Michigan", "LASST270000000000003" : "Minnesota",
                                      "LASST280000000000003" : "Mississippi", "LASST290000000000003" : "Missouri",
                                      "LASST300000000000003" : "Montana", "LASST310000000000003" : "Nebraska",
                                      "LASST320000000000003" : "Nevada", "LASST330000000000003" : "New Hampshire",
                                      "LASST340000000000003" : "New Jersey", "LASST350000000000003" : "New Mexico",
                                      "LASST360000000000003" : "New York", "LASST370000000000003" : "North Carolina",
                                      "LASST380000000000003" : "North Dakota", "LASST390000000000003" : "Ohio",
                                      "LASST400000000000003" : "Oklahoma", "LASST410000000000003" : "Oregon",
                                      "LASST420000000000003" : "Pennsylvania", "LASST720000000000003" : "Puerto Rico",
                                      "LASST440000000000003" : "Rhode Island", "LASST450000000000003" : "South Carolina",
                                      "LASST460000000000003" : "South Dakota", "LASST470000000000003" : "Tennessee",
                                      "LASST480000000000003" : "Texas", "LASST490000000000003" : "Utah",
                                      "LASST500000000000003" : "Vermont", "LASST510000000000003" : "Virginia",
                                      "LASST530000000000003" : "Washington", "LASST540000000000003" : "West Virginia",
                                      "LASST550000000000003" : "Wisconsin", "LASST560000000000003" : "Wyoming"},
                             inplace=True)

state_unemployment_df.sort_values(by="Date", ascending=True, inplace=True)

state_unemployment_df.reset_index(drop=True, inplace=True)

state_unemployment_df.to_csv("state_unemployment_monthly.csv", index=False)

In [ ]:
state_unemployment_y_df = state_unemployment_df.drop(["Date"], axis=1)


state_unemployment_y_df = state_unemployment_y_df.groupby("Year").mean()


state_unemployment_y_df = state_unemployment_y_df.transpose()


states_df = pd.read_csv("Resources/states.tsv", delimiter="\t")


state_unemployment_y_df = state_unemployment_y_df.rename_axis("name")
state_unemployment_y_df = pd.merge(state_unemployment_y_df, states_df, on="name", how="inner")


state_unemployment_y_df = state_unemployment_y_df.drop(["state"], axis=1)

state_unemployment_y_df.to_csv("state_unempoyment_yearly.csv", index=False)

## Unemployment Level BLS Pull

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS13000000", "LNS13023621", "LNS13023653", "LNS13025699", "LNS13023705", "LNS13023557", "LNS13023569"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data4 = json.loads(p.text)

In [ ]:
Year = []
date = []

for data_point in np.arange(len(json_data4["Results"]["series"][0]["data"])):
        Year.append(f"{json_data4['Results']['series'][0]['data'][data_point]['year']}")
        date.append(f"{json_data4['Results']['series'][0]['data'][data_point]['year']}-{json_data4['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [ ]:
layoffs_df = pd.DataFrame({"Date": date,
                           "Year": Year,
                           "LNS13000000": "",
                           "LNS13023621": "",
                           "LNS13023653": "",
                           "LNS13025699": "",
                           "LNS13023705": "",
                           "LNS13023557": "",
                           "LNS13023569": ""})

In [ ]:
for series4 in np.arange(len(json_data4["Results"]["series"])):
    for data_point4 in np.arange(len(json_data4["Results"]["series"][series4]["data"])):
        layoffs_df.loc[data_point4, json_data4["Results"]["series"][series4]["seriesID"]] = json_data4["Results"]["series"][series4]["data"][data_point4]["value"]

In [ ]:
for column in layoffs_df.columns[3:]:
    layoffs_df[f"{column}"] = layoffs_df[f"{column}"].astype(float)

layoffs_df.rename(columns={"LNS13000000": "Unemployment level, 16yo and over, thousands",
                           "LNS13023621": "Job losers, 16yo and over, thousands",
                           "LNS13023653": "Job losers on layoff, 16yo and over, thousands",
                           "LNS13025699": "Job losers not on layoff, 16yo and over, thousands",
                           "LNS13023705": "Job leavers (quit), 16yo and over, thousands",
                           "LNS13023557": "Reentrants to labor force, 16yo and over, thousands",
                           "LNS13023569": "New entrants to labor force, 16yo and over, thousands"},
                 inplace=True)

layoffs_df.sort_values(by="Date", ascending=True, inplace=True)

layoffs_df.reset_index(drop=True, inplace=True)

layoffs_df.to_csv("Unemployment_Levels.csv", index=False)

In [ ]:
pulled_layoffs_data = layoffs_df

In [ ]:
layoffrecessionyears = pulled_layoffs_data['Year'].unique()
layoffmonthnumber = [ ]

for year in layoffrecessionyears:
    layoffmonth = 13
    while (layoffmonth > 1): 
        layoffmonth = layoffmonth -1
        layoffmonthnumber.append(layoffmonth)
        if  layoffmonth == 0:
            break
pulled_layoffs_data['Month #'] = layoffmonthnumber

In [ ]:
layoffdates = []

for index, row in pulled_layoffs_data.iterrows():
    layoffdatenumber = str(f"{row['Year']}-{row['Month #']}")
    layoffdates.append(layoffdatenumber)

pulled_layoffs_data['Date'] = layoffdates

In [ ]:
pulled_layoffs_data = pulled_layoffs_data.rename(columns={'Unemployment level, 16yo and over, thousands': 'Overall Unemployment',
                                     'Job losers, 16yo and over, thousands': 'Loss of Job Total', 'Job losers on layoff, 16yo and over, thousands': 'Loss of Job: On Layoff',
                                     'Job losers not on layoff, 16yo and over, thousands': 'Loss of Job: Not on Layoff', "Job leavers (quit), 16yo and over, thousands": "Number of Persons Quitting",
                                     'Reentrants to labor force, 16yo and over, thousands': 'Reentrants to Labor Force', 'New entrants to labor force, 16yo and over, thousands': 'New Entrants to Labor Force'})

In [ ]:
pulled_layoffs_data = pulled_layoffs_data[['Year', 'Month #', 'Date', 'Overall Unemployment', 'Loss of Job Total', 'Loss of Job: On Layoff', 'Loss of Job: Not on Layoff', 
                      'Number of Persons Quitting', 'Reentrants to Labor Force', 'New Entrants to Labor Force']]
pulled_layoffs_data['Year'] = pulled_layoffs_data['Year'].astype(int)
recession_layoffs = pulled_layoffs_data[pulled_layoffs_data['Year']<=2011]

In [ ]:
# save recession_layoffs for plotting

In [ ]:
newworkforce = pulled_layoffs_data[['Year', 'Month #', 'Date', 'Overall Unemployment', 'Reentrants to Labor Force', 'New Entrants to Labor Force']]
newworkforce = newworkforce.reindex(index=newworkforce.index[::-1])

newworkforce = newworkforce.reset_index()
del newworkforce['index']
newworkforce['Overall Unemployment'] = newworkforce['Overall Unemployment'].astype(float)

In [ ]:
changewf_df_data = newworkforce[['Overall Unemployment', 'Reentrants to Labor Force', 'New Entrants to Labor Force']]
changewf_df_date = newworkforce['Date']
changewf_norm = (changewf_df_data - changewf_df_data.mean()) / (changewf_df_data.max() - changewf_df_data.min())
changewf_norm['Date'] = changewf_df_date
changewf_norm = changewf_norm[['Date', 'Overall Unemployment', 'Reentrants to Labor Force', 'New Entrants to Labor Force']]

In [ ]:
# save changewf_norm for plotting

In [ ]:
# Pull gender, race, educational attainment, and age data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS14000000", 
                 "LNS14000001", 
                 "LNS14000002", 
                 "LNS14000003", 
                 "LNS14000006", 
                 "LNS14032183", 
                 "LNS14000009",
                 "LNS14027659", 
                 "LNS14027660", 
                 "LNS14027689",
                 "LNS14027662", 
                 "LNS14024887",
                 "LNS14000089", 
                 "LNS14000091",
                 "LNS14000093",
                 "LNS14024230",
                ]

#start_year = "2008"
#end_year = "2018"

parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data = json.loads(p.text)

json_data

In [ ]:
#fill fit year and month into columns
years = []
months = []
periods = []

for data_point in np.arange(len(json_data["Results"]["series"][0]["data"])):
        years.append(json_data["Results"]["series"][0]["data"][data_point]["year"])
        periods.append(json_data["Results"]["series"][0]["data"][data_point]["period"])
        months.append(json_data["Results"]["series"][0]["data"][data_point]["periodName"])

In [ ]:
# Create DataFrame with place holders for unemployment categories

layoffsInd_df = pd.DataFrame({"Years": years,
                           "Periods": periods,
                           "Months": months,
                           "LNS14000000":"", 
                           "LNS14000001":"", 
                           "LNS14000002":"", 
                           "LNS14000003":"", 
                           "LNS14000006":"", 
                           "LNS14032183":"", 
                           "LNS14000009":"",
                           "LNS14027659":"", 
                           "LNS14027660":"", 
                           "LNS14027689":"",
                           "LNS14027662":"", 
                           "LNS14024887":"",
                           "LNS14000089":"", 
                           "LNS14000091":"",
                           "LNS14000093":"",
                           "LNS14024230":""
                          })
layoffsInd_df.set_index(["Years", "Periods","Months","LNS14000000","LNS14000001","LNS14000002","LNS14000003","LNS14000006",
                       "LNS14032183","LNS14000009","LNS14027659","LNS14027660","LNS14027689","LNS14027662","LNS14024887",
                       "LNS14000089","LNS14000091","LNS14000093","LNS14024230"])

In [ ]:
# Fills in values

for series in np.arange(len(json_data["Results"]["series"])):
    for data_point in np.arange(len(json_data["Results"]["series"][series]["data"])):
        layoffsInd_df.loc[data_point, json_data["Results"]["series"][series]["seriesID"]] =\
        json_data["Results"]["series"][series]["data"][data_point]["value"]
   
      
#layoffs_df.head()

In [ ]:
# Rename column labels

layoffsInd_df.rename(columns={
                           "LNS14000000": "Unemployment Rate for 16yo and over",
                           "LNS14000001": "Unemployment Rate for Men 16yo and over",
                           "LNS14000002": "Unemployment Rate for Women 16yo and over",
                           "LNS14000003": "Unemployment Rate for White people 16yo and over",
                           "LNS14000006": "Unemployment Rate for African Americans 16yo and over",
                           "LNS14032183": "Unemployment Rate for Asian people 16yo and over",
                           "LNS14000009": "Unemployment Rate for Hispanic people 16yo and over",
                           "LNS14027659": "Unemployment Rate for 25yo and older with less than High School Diploma",
                           "LNS14027660": "Unemployment Rate for 25yo and older with High School Degree",
                           "LNS14027689": "Unemployment Rate for 25yo and older with some college",
                           "LNS14027662": "Unemployment Rate for 25yo and older with Bachelor's degree or higher",
                           "LNS14024887": "Unemployment Rate for 16-24yo",
                           "LNS14000089": "Unemployment Rate for 25-34yo",
                           "LNS14000091": "Unemployment Rate for 35-44yo",
                           "LNS14000093": "Unemployment Rate for 45-54yo",
                            "LNS14024230": "Unemployment Rate for 55yo and over"
                          },
                      inplace=True)
layoffsInd_df['Unemployment Rate for 16yo and over'] = pd.to_numeric(layoffsInd_df['Unemployment Rate for 16yo and over'])

grouped_layoffs = layoffsInd_df.groupby('Years')['Unemployment Rate for 16yo and over'].mean()
grouped_layoffs = grouped_layoffs.reset_index()
#grouped_layoffs.head(13)

In [ ]:
grouped_layoffs2 = layoffsInd_df.groupby(['Years','Periods','Months'])['Unemployment Rate for 16yo and over'].mean()
grouped_layoffs2 = grouped_layoffs2.reset_index()
#grouped_layoffs2.head(13)

In [ ]:
# Output layoff File (CSV)
output_layoffs_file = "output_data/layoffs.csv"

#city data into a .csv.
grouped_layoffs2.to_csv(output_layoffs_file,index=False)

In [ ]:
#Industy Data Pull
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["CES0000000001",
                 "CES0500000001", 
                 "CES0600000001", 
                 "CES0700000001", 
                 "CES0800000001", 
                 "CES1000000001", 
                 "CES2000000001", 
                 "CES3000000001", 
                 "CES3100000001", 
                 "CES3200000001", 
                 "CES4000000001", 
                 "CES4142000001", 
                 "CES4200000001", 
                 "CES4300000001", 
                 "CES4422000001", 
                 "CES5000000001", 
                 "CES5500000001", 
                 "CES6000000001", 
                 "CES6500000001", 
                 "CES7000000001", 
                 "CES8000000001", 
                 "CES9000000001"
                ]
#start_year = "2008"
#end_year = "2020"

parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data4 = json.loads(p.text)

json_data4

In [ ]:
years = []
months = []
periods = []

for data_point in np.arange(len(json_data4["Results"]["series"][0]["data"])):
        years.append(json_data4["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data4["Results"]["series"][0]["data"][data_point]["periodName"])
        periods.append(json_data4["Results"]["series"][0]["data"][data_point]["period"])

In [ ]:
# Create DataFrame with place holders for unemployment categories

industry_df = pd.DataFrame({"Years": years,
                            "Periods": periods,
                           "Months": months,
                           "CES0000000001":"", 
                           "CES0500000001":"",
                           "CES0600000001":"", 
                           "CES0700000001":"",
                           "CES0800000001":"", 
                           "CES1000000001":"",
                           "CES2000000001":"",
                           "CES3000000001":"", 
                           "CES3100000001":"",
                           "CES3200000001":"",
                           "CES4000000001":"", 
                           "CES4142000001":"",
                           "CES4200000001":"",
                           "CES4300000001":"", 
                           "CES4422000001":"",
                           "CES5000000001":"",
                           "CES5500000001":"", 
                           "CES6000000001":"",
                           "CES6500000001":"",
                           "CES7000000001":"", 
                           "CES8000000001":"",
                           "CES9000000001":""
                          })
industry_df.set_index(["Years", "Periods","Months",
                      "CES0000000001",
                      "CES0500000001", 
                      "CES0600000001", 
                      "CES0700000001", 
                      "CES0800000001", 
                      "CES1000000001", 
                      "CES2000000001", 
                      "CES3000000001", 
                      "CES3100000001", 
                      "CES3200000001", 
                      "CES4000000001", 
                      "CES4142000001", 
                      "CES4200000001", 
                      "CES4300000001", 
                      "CES4422000001", 
                      "CES5000000001", 
                      "CES5500000001", 
                      "CES6000000001", 
                      "CES6500000001", 
                      "CES7000000001", 
                      "CES8000000001", 
                      "CES9000000001"
                     ])
#industry_df.head(12)

In [ ]:
# Fills in values for Idustry data

for series4 in np.arange(len(json_data4["Results"]["series"])):
    for data_point4 in np.arange(len(json_data4["Results"]["series"][series4]["data"])):
        industry_df.loc[data_point4, json_data4["Results"]["series"][series4]["seriesID"]] =\
        json_data4["Results"]["series"][series4]["data"][data_point4]["value"]
        
#industry_df.head(10)

In [ ]:
# Rename columns to make more informative
industry_df.rename(columns={"CES0000000001":"Total Non-Farm",
                           "CES0500000001":"Total Private",
                           "CES0600000001":"Goods Production", 
                           "CES0700000001":"Service Production",
                           "CES0800000001":"Private Service Production", 
                           "CES1000000001":"Mining and Lodging",
                           "CES2000000001":"Construction",
                           "CES3000000001":"Manufacturing", 
                           "CES3100000001":"Durable Goods",
                           "CES3200000001":"NonDurable Good",
                           "CES4000000001":"Trade, Transportation and Utilities", 
                           "CES4142000001":"WholeSale Trade",
                           "CES4200000001":"Retail Trade",
                           "CES4300000001":"Transportation and Warehousing", 
                           "CES4422000001":"Utilities",
                           "CES5000000001":"Information",
                           "CES5500000001":"Financial Activities", 
                           "CES6000000001":"Professional and Business Services",
                           "CES6500000001":"Education and Health Services",
                           "CES7000000001":"Leisure and Hospitality", 
                           "CES8000000001":"Other Services",
                           "CES9000000001":"Government"},
                 inplace=True)

industry_df['Total Non-Farm'] = pd.to_numeric(industry_df['Total Non-Farm'])
industry_df['Total Private'] = pd.to_numeric(industry_df['Total Private'])
industry_df['Goods Production'] = pd.to_numeric(industry_df['Goods Production'])
industry_df['Service Production'] = pd.to_numeric(industry_df['Service Production'])
industry_df['Private Service Production'] = pd.to_numeric(industry_df['Private Service Production'])
industry_df['Mining and Lodging'] = pd.to_numeric(industry_df['Mining and Lodging'])
industry_df['Construction'] = pd.to_numeric(industry_df['Construction'])
industry_df['Manufacturing'] = pd.to_numeric(industry_df['Manufacturing'])
industry_df['Durable Goods'] = pd.to_numeric(industry_df['Durable Goods'])
industry_df['NonDurable Good'] = pd.to_numeric(industry_df['NonDurable Good'])
industry_df['Trade, Transportation and Utilities'] = pd.to_numeric(industry_df['Trade, Transportation and Utilities'])
industry_df['WholeSale Trade'] = pd.to_numeric(industry_df['WholeSale Trade'])
industry_df['Retail Trade'] = pd.to_numeric(industry_df['Retail Trade'])
industry_df['Transportation and Warehousing'] = pd.to_numeric(industry_df['Transportation and Warehousing'])
industry_df['Utilities'] = pd.to_numeric(industry_df['Utilities'])
industry_df['Information'] = pd.to_numeric(industry_df['Information'])
industry_df['Financial Activities'] = pd.to_numeric(industry_df['Financial Activities'])
industry_df['Professional and Business Services'] = pd.to_numeric(industry_df['Professional and Business Services'])
industry_df['Education and Health Services'] = pd.to_numeric(industry_df['Education and Health Services'])
industry_df['Leisure and Hospitality'] = pd.to_numeric(industry_df['Leisure and Hospitality'])
industry_df['Other Services'] = pd.to_numeric(industry_df['Other Services'])
industry_df['Government'] = pd.to_numeric(industry_df['Government'])
industry_df['Unemployment Rate for 16yo and over'] = grouped_layoffs2['Unemployment Rate for 16yo and over']

In [ ]:
grouped_industry = industry_df.groupby(['Years']).mean()
grouped_industry = grouped_industry.reset_index()

In [ ]:
# Output industry File (CSV)
output_industry_file = "output_data/industry.csv"

#city data into a .csv.
grouped_industry.to_csv(output_industry_file,index=False)