In [ ]:
import requests
import csv
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import datetime
import scipy.stats as st
from config import bls_api_key

# Set data range for all API calls
start_year = "2006"
end_year = "2018"

# Demographic unemployment rate Data Pull

In [ ]:
# Pull gender, race, educational attainment, and age data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS14000000", 
                 "LNS14000001", 
                 "LNS14000002", 
                 "LNS14000003", 
                 "LNS14000006", 
                 "LNS14032183", 
                 "LNS14000009",
                 "LNS14027659", 
                 "LNS14027660", 
                 "LNS14027689",
                 "LNS14027662", 
                 "LNS14024887",
                 "LNS14000089", 
                 "LNS14000091",
                 "LNS14000093",
                 "LNS14024230",
                ]

#start_year = "2008"
#end_year = "2018"

parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data = json.loads(p.text)

json_data

In [ ]:
#fill fit year and month into columns
years = []
months = []
periods = []

for data_point in np.arange(len(json_data["Results"]["series"][0]["data"])):
        years.append(json_data["Results"]["series"][0]["data"][data_point]["year"])
        periods.append(json_data["Results"]["series"][0]["data"][data_point]["period"])
        months.append(json_data["Results"]["series"][0]["data"][data_point]["periodName"])

In [ ]:
# Create DataFrame with place holders for unemployment categories

layoffs_df = pd.DataFrame({"Years": years,
                           "Periods": periods,
                           "Months": months,
                           "LNS14000000":"", 
                           "LNS14000001":"", 
                           "LNS14000002":"", 
                           "LNS14000003":"", 
                           "LNS14000006":"", 
                           "LNS14032183":"", 
                           "LNS14000009":"",
                           "LNS14027659":"", 
                           "LNS14027660":"", 
                           "LNS14027689":"",
                           "LNS14027662":"", 
                           "LNS14024887":"",
                           "LNS14000089":"", 
                           "LNS14000091":"",
                           "LNS14000093":"",
                           "LNS14024230":""
                          })
layoffs_df.set_index(["Years", "Periods","Months","LNS14000000","LNS14000001","LNS14000002","LNS14000003","LNS14000006",
                       "LNS14032183","LNS14000009","LNS14027659","LNS14027660","LNS14027689","LNS14027662","LNS14024887",
                       "LNS14000089","LNS14000091","LNS14000093","LNS14024230"])
layoffs_df.head()

In [ ]:
# Fills in values

for series in np.arange(len(json_data["Results"]["series"])):
    for data_point in np.arange(len(json_data["Results"]["series"][series]["data"])):
        layoffs_df.loc[data_point, json_data["Results"]["series"][series]["seriesID"]] =\
        json_data["Results"]["series"][series]["data"][data_point]["value"]
   
      
layoffs_df.head()

In [ ]:
# Rename column labels

layoffs_df.rename(columns={
                           "LNS14000000": "Unemployment Rate for 16yo and over",
                           "LNS14000001": "Unemployment Rate for Men 16yo and over",
                           "LNS14000002": "Unemployment Rate for Women 16yo and over",
                           "LNS14000003": "Unemployment Rate for White people 16yo and over",
                           "LNS14000006": "Unemployment Rate for African Americans 16yo and over",
                           "LNS14032183": "Unemployment Rate for Asian people 16yo and over",
                           "LNS14000009": "Unemployment Rate for Hispanic people 16yo and over",
                           "LNS14027659": "Unemployment Rate for 25yo and older with less than High School Diploma",
                           "LNS14027660": "Unemployment Rate for 25yo and older with High School Degree",
                           "LNS14027689": "Unemployment Rate for 25yo and older with some college",
                           "LNS14027662": "Unemployment Rate for 25yo and older with Bachelor's degree or higher",
                           "LNS14024887": "Unemployment Rate for 16-24yo",
                           "LNS14000089": "Unemployment Rate for 25-34yo",
                           "LNS14000091": "Unemployment Rate for 35-44yo",
                           "LNS14000093": "Unemployment Rate for 45-54yo",
                            "LNS14024230": "Unemployment Rate for 55yo and over"
                          },
                      inplace=True)
layoffs_df['Unemployment Rate for 16yo and over'] = pd.to_numeric(layoffs_df['Unemployment Rate for 16yo and over'])

grouped_layoffs = layoffs_df.groupby('Years')['Unemployment Rate for 16yo and over'].mean()
grouped_layoffs = grouped_layoffs.reset_index()
grouped_layoffs.head(13)

In [ ]:
grouped_layoffs2 = layoffs_df.groupby(['Years','Periods','Months'])['Unemployment Rate for 16yo and over'].mean()
grouped_layoffs2 = grouped_layoffs2.reset_index()
grouped_layoffs2.head(13)

In [ ]:
# Output layoff File (CSV)
output_layoffs_file = "output_data/layoffs.csv"

#city data into a .csv.
grouped_layoffs2.to_csv(output_data_file,index=False)

In [ ]:
#Industy Data Pull
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["CES0000000001",
                 "CES0500000001", 
                 "CES0600000001", 
                 "CES0700000001", 
                 "CES0800000001", 
                 "CES1000000001", 
                 "CES2000000001", 
                 "CES3000000001", 
                 "CES3100000001", 
                 "CES3200000001", 
                 "CES4000000001", 
                 "CES4142000001", 
                 "CES4200000001", 
                 "CES4300000001", 
                 "CES4422000001", 
                 "CES5000000001", 
                 "CES5500000001", 
                 "CES6000000001", 
                 "CES6500000001", 
                 "CES7000000001", 
                 "CES8000000001", 
                 "CES9000000001"
                ]
#start_year = "2008"
#end_year = "2020"

parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data4 = json.loads(p.text)

json_data4

In [ ]:
years = []
months = []
periods = []

for data_point in np.arange(len(json_data4["Results"]["series"][0]["data"])):
        years.append(json_data4["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data4["Results"]["series"][0]["data"][data_point]["periodName"])
        periods.append(json_data4["Results"]["series"][0]["data"][data_point]["period"])

In [ ]:
# Create DataFrame with place holders for unemployment categories

industry_df = pd.DataFrame({"Years": years,
                            "Periods": periods,
                           "Months": months,
                           "CES0000000001":"", 
                           "CES0500000001":"",
                           "CES0600000001":"", 
                           "CES0700000001":"",
                           "CES0800000001":"", 
                           "CES1000000001":"",
                           "CES2000000001":"",
                           "CES3000000001":"", 
                           "CES3100000001":"",
                           "CES3200000001":"",
                           "CES4000000001":"", 
                           "CES4142000001":"",
                           "CES4200000001":"",
                           "CES4300000001":"", 
                           "CES4422000001":"",
                           "CES5000000001":"",
                           "CES5500000001":"", 
                           "CES6000000001":"",
                           "CES6500000001":"",
                           "CES7000000001":"", 
                           "CES8000000001":"",
                           "CES9000000001":""
                          })
industry_df.set_index(["Years", "Periods","Months",
                      "CES0000000001",
                      "CES0500000001", 
                      "CES0600000001", 
                      "CES0700000001", 
                      "CES0800000001", 
                      "CES1000000001", 
                      "CES2000000001", 
                      "CES3000000001", 
                      "CES3100000001", 
                      "CES3200000001", 
                      "CES4000000001", 
                      "CES4142000001", 
                      "CES4200000001", 
                      "CES4300000001", 
                      "CES4422000001", 
                      "CES5000000001", 
                      "CES5500000001", 
                      "CES6000000001", 
                      "CES6500000001", 
                      "CES7000000001", 
                      "CES8000000001", 
                      "CES9000000001"
                     ])
industry_df.head(12)

In [ ]:
# Fills in values for Idustry data

for series4 in np.arange(len(json_data4["Results"]["series"])):
    for data_point4 in np.arange(len(json_data4["Results"]["series"][series4]["data"])):
        industry_df.loc[data_point4, json_data4["Results"]["series"][series4]["seriesID"]] =\
        json_data4["Results"]["series"][series4]["data"][data_point4]["value"]
        
industry_df.head(10) 
#industry_df= industry_df.iloc[:,2:-1].astype(float)
industry_df.dtypes

In [ ]:
# Rename columns to make more informative
industry_df.rename(columns={"CES0000000001":"Total Non-Farm",
                           "CES0500000001":"Total Private",
                           "CES0600000001":"Goods Production", 
                           "CES0700000001":"Service Production",
                           "CES0800000001":"Private Service Production", 
                           "CES1000000001":"Mining and Lodging",
                           "CES2000000001":"Construction",
                           "CES3000000001":"Manufacturing", 
                           "CES3100000001":"Durable Goods",
                           "CES3200000001":"NonDurable Good",
                           "CES4000000001":"Trade, Transportation and Utilities", 
                           "CES4142000001":"WholeSale Trade",
                           "CES4200000001":"Retail Trade",
                           "CES4300000001":"Transportation and Warehousing", 
                           "CES4422000001":"Utilities",
                           "CES5000000001":"Information",
                           "CES5500000001":"Financial Activities", 
                           "CES6000000001":"Professional and Business Services",
                           "CES6500000001":"Education and Health Services",
                           "CES7000000001":"Leisure and Hospitality", 
                           "CES8000000001":"Other Services",
                           "CES9000000001":"Government"},
                 inplace=True)

industry_df['Total Non-Farm'] = pd.to_numeric(industry_df['Total Non-Farm'])
industry_df['Total Private'] = pd.to_numeric(industry_df['Total Private'])
industry_df['Goods Production'] = pd.to_numeric(industry_df['Goods Production'])
industry_df['Service Production'] = pd.to_numeric(industry_df['Service Production'])
industry_df['Private Service Production'] = pd.to_numeric(industry_df['Private Service Production'])
industry_df['Mining and Lodging'] = pd.to_numeric(industry_df['Mining and Lodging'])
industry_df['Construction'] = pd.to_numeric(industry_df['Construction'])
industry_df['Manufacturing'] = pd.to_numeric(industry_df['Manufacturing'])
industry_df['Durable Goods'] = pd.to_numeric(industry_df['Durable Goods'])
industry_df['NonDurable Good'] = pd.to_numeric(industry_df['NonDurable Good'])
industry_df['Trade, Transportation and Utilities'] = pd.to_numeric(industry_df['Trade, Transportation and Utilities'])
industry_df['WholeSale Trade'] = pd.to_numeric(industry_df['WholeSale Trade'])
industry_df['Retail Trade'] = pd.to_numeric(industry_df['Retail Trade'])
industry_df['Transportation and Warehousing'] = pd.to_numeric(industry_df['Transportation and Warehousing'])
industry_df['Utilities'] = pd.to_numeric(industry_df['Utilities'])
industry_df['Information'] = pd.to_numeric(industry_df['Information'])
industry_df['Financial Activities'] = pd.to_numeric(industry_df['Financial Activities'])
industry_df['Professional and Business Services'] = pd.to_numeric(industry_df['Professional and Business Services'])
industry_df['Education and Health Services'] = pd.to_numeric(industry_df['Education and Health Services'])
industry_df['Leisure and Hospitality'] = pd.to_numeric(industry_df['Leisure and Hospitality'])
industry_df['Other Services'] = pd.to_numeric(industry_df['Other Services'])
industry_df['Government'] = pd.to_numeric(industry_df['Government'])
industry_df['Unemployment Rate for 16yo and over'] = grouped_layoffs2['Unemployment Rate for 16yo and over']

#industry_df.head(10)
#industry_df.dtypes

In [ ]:
grouped_industry = industry_df.groupby(['Years']).mean()
grouped_industry = grouped_industry.reset_index()
#grouped_industry.dtypes

In [ ]:
# Output industry File (CSV)
output_industry_file = "output_data/industry.csv"

#city data into a .csv.
grouped_industry.to_csv(output_industry_file,index=False)

In [ ]:
#Plot Industry data and unemployment rate
fig, ax1 = plt.subplots(figsize = (15,10))

#color = 'tab:red'
plt.title(f"Industry Employment Level against overall Unemployment", fontsize=14)
ax1.set_xlabel('Years',fontsize=12)
ax1.set_ylabel('Number of Persons Employed in Sector in Thousands', fontsize=12)

ax1.plot(grouped_industry['Years'], grouped_industry['Construction'], label = 'Construction')
ax1.plot(grouped_industry['Years'], grouped_industry['Manufacturing'], label = 'Manufacturing')
ax1.plot(grouped_industry['Years'], grouped_industry['Trade, Transportation and Utilities'], label = 'Trade, Transportation and Utilities')
ax1.plot(grouped_industry['Years'], grouped_industry['Information'], label = 'Information')
ax1.plot(grouped_industry['Years'], grouped_industry['Financial Activities'], label = 'Financial Activities')
ax1.plot(grouped_industry['Years'], grouped_industry['Professional and Business Services'], label = 'Professional and Business Services')
ax1.plot(grouped_industry['Years'], grouped_industry['Education and Health Services'], label = 'Education and Health Services')
ax1.plot(grouped_industry['Years'], grouped_industry['Leisure and Hospitality'], label = 'Leisure and Hospitality')
ax1.plot(grouped_industry['Years'], grouped_industry['Other Services'], label = 'Other Services')
ax1.plot(grouped_industry['Years'], grouped_industry['Government'], label ='Government')

#Creating legend of the chart
ax1.legend()
ax1.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)
ax1.tick_params(axis='y')

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis

color = 'tab:blue'
ax2.set_ylabel('National Unemployment Rate %')  # we already handled the x-label with ax1
ax2.plot(grouped_layoffs['Years'], grouped_layoffs['Unemployment Rate for 16yo and over'], label = 'Unemployment Rate')
ax2.legend()
ax2.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)
ax2.tick_params(axis='y')

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.show()

In [ ]:
grouped_industry2 = industry_df.groupby(['Years','Periods','Months']).mean()
grouped_industry2 = grouped_industry2.reset_index()
#grouped_industry2.head(13)

In [ ]:
# Output industry File (CSV)
output_industry2_file = "output_data/industry2.csv"

#city data into a .csv.
grouped_industry2.to_csv(output_industry2_file,index=False)