In [108]:
import requests
import json
import pandas as pd
import numpy as np
import datetime
import calendar
from config import bls_api_key

## Construction spending

In [67]:
start_year = "2008"
end_year = "2011"

In [166]:
cs_df = pd.read_csv("Resources/totsatime.csv")

cs_df.columns = cs_df.iloc[2,:]
cs_df = cs_df.loc[3:329,["Date", "Total\n\rConstruction1", "Total\n\rResidential", "Total\n\rNonresidential",
                         "Total\n\rPrivate Construction2", "Total\n\rPublic Construction3"]]
cs_df = cs_df.iloc[:,6:]

cs_df = cs_df.rename(columns={"Total\n\rConstruction1" : "Total Construction",
                              "Total\n\rResidential" : "Total Residential construction",
                              "Total\n\rNonresidential" : "Total Nonresidential construction",
                              "Total\n\rPrivate Construction2" : "Total Private construction",
                              "Total\n\rPublic Construction3" : "Total Public construction"})

cs_df.reset_index(drop=True, inplace=True)

cs_df = cs_df.iloc[cs_df.index[cs_df["Date"] == f"Dec-{end_year[2:]}"][0]: (cs_df.index[cs_df["Date"] == f"Jan-{start_year[2:]}"][0])+1,:]

cs_df["Year"] = "20" + cs_df["Date"].str[-2:] + "-"
cs_df["month"] = cs_df["Date"].str[:3]

cs_df.replace(to_replace=["Jan","Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              value=["01","02","03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
              inplace=True)

cs_df["date2"] = cs_df["Year"] + cs_df["month"]

cs_df = cs_df.drop(["Date", "Year", "month"], axis=1)

cs_df.rename(columns={"date2": "Date"}, inplace=True)

cs_df = cs_df.reindex(columns=["Date", "Total Construction", "Total Residential construction", "Total Nonresidential construction",
                       "Total Private construction", "Total Public construction"])

cs_df.sort_values(by="Date", ascending=True, inplace=True)

cs_df.reset_index(drop=True, inplace=True)

cs_df.to_csv("construction.csv")

cs_df

2,Date,Total Construction,Total Residential construction,Total Nonresidential construction,Total Private construction,Total Public construction
0,2008-01,"1,111,687","409,760","701,927","817,436","294,251"
1,2008-02,"1,097,891","394,436","703,456","798,568","299,323"
2,2008-03,"1,103,580","397,603","705,977","797,041","306,539"
3,2008-04,"1,101,416","392,965","708,451","796,904","304,512"
4,2008-05,"1,101,187","388,975","712,212","795,867","305,320"
5,2008-06,"1,089,511","381,412","708,098","781,953","307,558"
6,2008-07,"1,086,874","372,678","714,196","776,265","310,609"
7,2008-08,"1,069,183","359,490","709,693","755,499","313,684"
8,2008-09,"1,059,898","348,526","711,372","751,340","308,559"
9,2008-10,"1,056,331","337,197","719,135","742,000","314,332"
10,2008-11,"1,035,666","320,917","714,749","718,769","316,897"
11,2008-12,"999,397","301,590","697,808","687,441","311,957"
12,2009-01,"969,641","286,065","683,576","660,089","309,552"
13,2009-02,"965,536","269,941","695,595","644,170","321,367"
14,2009-03,"958,360","257,094","701,265","632,878","325,481"
15,2009-04,"927,259","246,013","681,247","608,363","318,896"
16,2009-05,"913,346","237,725","675,621","596,271","317,075"
17,2009-06,"906,874","239,570","667,304","585,913","320,961"
18,2009-07,"905,929","247,133","658,796","583,336","322,593"
19,2009-08,"894,413","253,075","641,338","579,959","314,453"
20,2009-09,"882,651","257,919","624,731","571,780","310,870"
21,2009-10,"866,980","258,821","608,159","559,113","307,866"
22,2009-11,"854,600","260,080","594,521","551,965","302,635"
23,2009-12,"838,527","260,510","578,017","538,197","300,330"
24,2010-01,"818,320","259,887","558,433","520,024","298,296"
25,2010-02,"810,841","259,605","551,236","518,646","292,195"
26,2010-03,"818,386","259,757","558,630","518,075","300,311"
27,2010-04,"826,445","261,374","565,071","518,540","307,905"
28,2010-05,"818,884","258,458","560,427","512,819","306,066"
29,2010-06,"817,734","256,993","560,741","510,678","307,056"
30,2010-07,"795,485","250,755","544,730","493,029","302,457"
31,2010-08,"798,050","245,388","552,663","489,902","308,148"
32,2010-09,"804,113","245,400","558,713","487,639","316,474"
33,2010-10,"798,248","244,857","553,391","491,121","307,128"
34,2010-11,"800,934","245,590","555,344","499,405","301,529"
35,2010-12,"786,301","245,836","540,465","493,333","292,968"
36,2011-01,"756,808","247,808","508,999","463,101","293,706"
37,2011-02,"755,410","246,794","508,616","466,717","288,693"
38,2011-03,"766,241","248,263","517,977","475,848","290,393"
39,2011-04,"766,778","251,238","515,541","481,861","284,917"
40,2011-05,"772,355","251,734","520,622","489,491","282,865"
41,2011-06,"791,857","253,305","538,552","507,488","284,369"
42,2011-07,"789,330","254,686","534,644","509,466","279,864"
43,2011-08,"808,818","256,825","551,993","521,126","287,691"
44,2011-09,"810,890","255,523","555,368","521,354","289,537"
45,2011-10,"805,478","257,406","548,072","520,903","284,575"
46,2011-11,"809,308","251,660","557,649","522,313","286,995"
47,2011-12,"818,678","252,401","566,277","529,305","289,373"

## Demographic unemployment rate

In [69]:
# Pull gender, race, educational attainment, and age data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS14000000", "LNS14000001", "LNS14000002", "LNS14000003", "LNS14000006", "LNS14032183", "LNS14000009",
         "LNS14027659", "LNS14027660", "LNS14027689", "LNS14027662", "LNS14024887", "LNS14000089", "LNS14000091",
                "LNS14000093", "LNS14024230"]


parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data = json.loads(p.text)

In [70]:
years = []
months = []
date = []

for data_point in np.arange(len(json_data["Results"]["series"][0]["data"])):
        years.append(json_data["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data["Results"]["series"][0]["data"][data_point]["periodName"])
        date.append(f"{json_data['Results']['series'][0]['data'][data_point]['year']}-{json_data['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [71]:
# Create DataFrame

unemployment_df = pd.DataFrame({"Date": date,
                                "Year": years,
                                "Month": months,
                                "LNS14000000" : "",
                                "LNS14000001" : "",
                                "LNS14000002" : "",
                                "LNS14000003" : "",
                                "LNS14000006" : "",
                                "LNS14032183" : "",
                                "LNS14000009" : "",
                                "LNS14027659" : "",
                                "LNS14027660" : "",
                                "LNS14027689" : "",
                                "LNS14027662" : "",
                                "LNS14024887" : "",
                                "LNS14000089" : "",
                                "LNS14000091" : "",
                                "LNS14000093" : "",
                                "LNS14024230" : ""})
unemployment_df.head()

,Date,Year,Month,LNS14000000,LNS14000001,LNS14000002,LNS14000003,LNS14000006,LNS14032183,LNS14000009,LNS14027659,LNS14027660,LNS14027689,LNS14027662,LNS14024887,LNS14000089,LNS14000091,LNS14000093,LNS14024230
0,2011-12,2011,December,,,,,,,,,,,,,,,,
1,2011-11,2011,November,,,,,,,,,,,,,,,,
2,2011-10,2011,October,,,,,,,,,,,,,,,,
3,2011-09,2011,September,,,,,,,,,,,,,,,,
4,2011-08,2011,August,,,,,,,,,,,,,,,,

In [72]:
# Fills in values

for series in np.arange(len(json_data["Results"]["series"])):
    for data_point in np.arange(len(json_data["Results"]["series"][series]["data"])):
        unemployment_df.loc[data_point, json_data["Results"]["series"][series]["seriesID"]] = json_data["Results"]["series"][series]["data"][data_point]["value"]

In [73]:
# Rename column labels

unemployment_df.rename(columns={"LNS14000000": "Unemployment Rate for 16yo and over",
                                "LNS14000001": "Unemployment Rate for Men 16yo and over",
                                "LNS14000002": "Unemployment Rate for Women 16yo and over",
                                "LNS14000003": "Unemployment Rate for White people 16yo and over",
                                "LNS14000006": "Unemployment Rate for African Americans 16yo and over",
                                "LNS14032183": "Unemployment Rate for Asian people 16yo and over",
                                "LNS14000009": "Unemployment Rate for Hispanic people 16yo and over",
                                "LNS14027659": "Unemployment Rate for 25yo and older with less than High School Diploma",
                                "LNS14027660": "Unemployment Rate for 25yo and older with High School Degree",
                                "LNS14027689": "Unemployment Rate for 25yo and older with some college",
                                "LNS14027662": "Unemployment Rate for 25yo and older with Bachelor's degree or higher",
                                "LNS14024887": "Unemployment Rate for 16-24yo",
                                "LNS14000089": "Unemployment Rate for 25-34yo",
                                "LNS14000091": "Unemployment Rate for 35-44yo",
                                "LNS14000093": "Unemployment Rate for 45-54yo",
                                "LNS14024230": "Unemployment Rate for 55yo and over"},
                      inplace=True)

unemployment_df.sort_values(by="Date", ascending=True, inplace=True)

unemployment_df.reset_index(drop=True, inplace=True)

unemployment_df.to_csv("Unemployment_Rates.csv", index=False)

unemployment_df

,Date,Year,Month,Unemployment Rate for 16yo and over,Unemployment Rate for Men 16yo and over,Unemployment Rate for Women 16yo and over,Unemployment Rate for White people 16yo and over,Unemployment Rate for African Americans 16yo and over,Unemployment Rate for Asian people 16yo and over,Unemployment Rate for Hispanic people 16yo and over,Unemployment Rate for 25yo and older with less than High School Diploma,Unemployment Rate for 25yo and older with High School Degree,Unemployment Rate for 25yo and older with some college,Unemployment Rate for 25yo and older with Bachelor's degree or higher,Unemployment Rate for 16-24yo,Unemployment Rate for 25-34yo,Unemployment Rate for 35-44yo,Unemployment Rate for 45-54yo,Unemployment Rate for 55yo and over
0,2008-01,2008,January,5.0,5.2,4.8,4.4,9.1,3.1,6.3,7.7,4.7,3.7,2.1,11.7,5.1,3.6,3.4,3.3
1,2008-02,2008,February,4.9,5.0,4.7,4.4,8.4,2.9,6.2,7.4,4.7,3.8,2.0,11.4,4.9,3.6,3.4,3.3
2,2008-03,2008,March,5.1,5.2,5.0,4.5,9.2,3.6,6.9,8.4,5.1,3.9,2.1,11.4,5.3,3.8,3.5,3.4
3,2008-04,2008,April,5.0,5.2,4.8,4.4,8.6,3.5,7.1,7.7,5.0,4.0,2.1,11.0,5.1,3.9,3.7,3.0
4,2008-05,2008,May,5.4,5.6,5.2,4.8,9.6,4.1,6.9,8.1,5.0,4.3,2.2,13.0,5.2,4.2,3.8,3.2
5,2008-06,2008,June,5.6,5.8,5.3,5.0,9.4,4.2,7.6,8.7,5.1,4.3,2.4,12.9,5.4,4.4,3.8,3.3
6,2008-07,2008,July,5.8,6.2,5.3,5.2,10.0,3.7,7.5,8.6,5.4,4.6,2.5,13.5,5.7,4.7,3.8,3.7
7,2008-08,2008,August,6.1,6.3,5.9,5.4,10.6,4.5,8.0,9.7,5.8,4.9,2.8,13.1,6.2,5.1,4.3,4.2
8,2008-09,2008,September,6.1,6.7,5.5,5.4,11.3,4.0,8.0,9.8,6.2,5.0,2.6,13.5,6.2,5.1,4.3,4.2
9,2008-10,2008,October,6.5,7.1,5.9,5.9,11.4,3.9,8.8,10.3,6.4,5.2,3.1,13.6,6.7,5.4,4.6,4.5
10,2008-11,2008,November,6.8,7.4,6.2,6.2,11.5,4.8,8.7,10.8,7.0,5.5,3.2,14.0,7.1,5.5,5.1,4.8
11,2008-12,2008,December,7.3,8.0,6.5,6.7,12.1,5.1,9.4,11.1,7.8,5.7,3.6,14.8,7.6,5.9,5.6,5.0
12,2009-01,2009,January,7.8,8.6,7.0,7.1,12.7,6.1,10.1,12.4,8.2,6.5,3.9,15.0,8.3,6.7,6.0,5.4
13,2009-02,2009,February,8.3,9.2,7.3,7.6,13.7,6.7,11.3,13.2,8.5,7.3,4.1,16.0,9.1,6.9,6.4,5.8
14,2009-03,2009,March,8.7,9.7,7.6,8.0,13.7,6.5,11.7,14.0,9.2,7.5,4.3,16.5,9.3,7.3,6.8,6.3
15,2009-04,2009,April,9.0,10.1,7.6,8.1,15.0,6.8,11.4,14.9,9.5,7.7,4.4,16.7,9.8,7.7,6.7,6.5
16,2009-05,2009,May,9.4,10.6,8.0,8.5,15.0,7.0,12.3,15.2,10.0,7.8,4.8,17.6,10.3,8.1,6.9,6.7
17,2009-06,2009,June,9.5,10.6,8.3,8.7,14.8,7.9,12.1,15.6,9.7,8.1,4.8,18.0,10.0,8.1,7.3,7.0
18,2009-07,2009,July,9.5,10.5,8.3,8.7,14.8,8.1,12.5,15.3,9.5,8.0,4.8,17.9,10.1,7.9,7.4,6.8
19,2009-08,2009,August,9.6,10.7,8.3,8.9,14.8,7.6,13.0,15.6,9.7,8.1,4.8,18.1,10.4,8.2,7.6,6.8
20,2009-09,2009,September,9.8,10.9,8.5,8.9,15.3,7.6,12.6,14.9,10.6,8.3,5.0,18.4,10.4,8.6,7.9,6.7
21,2009-10,2009,October,10.0,11.1,8.7,9.2,15.8,7.6,12.8,15.2,11.0,8.7,4.7,19.1,10.6,9.0,7.7,6.9
22,2009-11,2009,November,9.9,11.0,8.6,9.2,15.7,7.2,12.4,14.7,10.3,8.8,4.8,19.2,10.3,8.6,7.6,7.0
23,2009-12,2009,December,9.9,10.9,8.7,9.0,16.1,8.4,12.8,15.0,10.6,8.7,4.9,18.8,10.0,8.7,7.8,7.2
24,2010-01,2010,January,9.8,11.0,8.4,8.8,16.5,8.3,12.9,15.3,10.2,8.6,4.9,18.8,10.0,8.5,7.8,6.9
25,2010-02,2010,February,9.8,10.9,8.6,8.9,16.1,8.2,12.7,15.8,10.7,8.1,4.9,18.7,10.0,8.8,7.6,7.2
26,2010-03,2010,March,9.9,10.9,8.7,8.9,16.8,7.6,12.9,14.9,11.0,8.4,4.9,18.8,10.2,8.6,7.9,6.9
27,2010-04,2010,April,9.9,10.9,8.8,9.0,16.6,7.0,12.5,14.7,10.8,8.4,4.8,19.5,10.3,8.2,7.8,7.0
28,2010-05,2010,May,9.6,10.4,8.8,8.7,15.5,7.8,12.0,14.6,10.9,8.2,4.6,18.1,10.6,7.9,7.6,7.0
29,2010-06,2010,June,9.4,10.4,8.3,8.6,15.2,7.4,12.3,14.2,10.6,8.1,4.4,18.2,10.2,7.8,7.5,6.8
30,2010-07,2010,July,9.4,10.3,8.5,8.5,15.6,7.9,12.2,13.5,10.0,8.3,4.5,18.4,9.8,7.9,7.4,6.8
31,2010-08,2010,August,9.5,10.3,8.6,8.6,15.9,7.3,12.0,14.1,10.0,8.7,4.6,17.7,9.7,7.7,8.0,7.4
32,2010-09,2010,September,9.5,10.2,8.6,8.6,16.0,6.6,12.3,15.6,9.7,8.9,4.5,17.9,9.8,8.3,7.5,7.1
33,2010-10,2010,October,9.4,10.1,8.7,8.6,15.6,7.2,12.3,15.0,9.8,8.2,4.6,18.7,9.6,7.8,7.6,7.1
34,2010-11,2010,November,9.8,10.5,9.0,8.9,16.2,7.5,12.9,15.4,10.0,8.6,5.0,18.5,10.4,7.8,8.1,7.2
35,2010-12,2010,December,9.3,10.0,8.5,8.5,15.5,7.2,12.9,15.0,9.8,8.1,4.8,17.9,9.9,7.7,7.5,6.8
36,2011-01,2011,January,9.1,9.7,8.5,8.1,15.8,6.8,12.3,14.3,9.5,8.1,4.3,18.1,9.3,7.4,7.2,6.7
37,2011-02,2011,February,9.0,9.5,8.5,8.1,15.5,6.7,11.8,14.0,9.7,7.9,4.3,17.7,9.5,7.4,7.1,6.5
38,2011-03,2011,March,9.0,9.5,8.4,8.0,15.8,7.3,11.6,14.1,9.7,7.5,4.4,17.6,9.3,7.2,7.2,6.5
39,2011-04,2011,April,9.1,9.6,8.5,8.1,16.5,6.5,11.9,14.7,9.9,7.5,4.5,17.6,9.8,7.4,7.2,6.5
40,2011-05,2011,May,9.0,9.5,8.5,7.9,16.3,7.2,11.6,14.5,9.6,7.8,4.5,17.3,9.5,7.5,7.2,6.7
41,2011-06,2011,June,9.1,9.6,8.5,8.1,16.2,6.5,11.5,14.4,10.0,8.3,4.3,17.1,9.6,7.7,7.3,6.9
42,2011-07,2011,July,9.0,9.5,8.4,8.0,15.9,7.4,11.2,14.5,9.1,8.3,4.2,17.3,9.6,7.0,7.1,6.8
43,2011-08,2011,August,9.0,9.4,8.5,7.9,16.4,7.2,11.2,14.1,9.3,8.3,4.2,17.4,9.4,7.7,7.0,6.6
44,2011-09,2011,September,9.0,9.3,8.7,7.9,15.9,8.0,11.2,14.3,9.4,8.5,4.2,17.3,9.5,7.5,7.1,6.6
45,2011-10,2011,October,8.8,9.2,8.4,7.9,14.6,7.4,11.3,13.5,9.4,8.1,4.3,16.7,9.5,7.2,6.9,7.0
46,2011-11,2011,November,8.6,8.9,8.3,7.7,15.6,6.4,11.2,12.8,8.8,7.7,4.4,17.0,9.1,7.0,6.6,6.3
47,2011-12,2011,December,8.5,8.7,8.3,7.5,15.4,6.8,11.1,13.7,8.7,7.6,4.1,16.7,9.3,6.8,6.5,6.2

## Statewide unemployment rate

In [74]:
# Pull state data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LASST010000000000003", "LASST020000000000003", "LASST040000000000003", "LASST050000000000003",
                 "LASST060000000000003", "LASST080000000000003", "LASST090000000000003", "LASST100000000000003",
                 "LASST110000000000003", "LASST120000000000003", "LASST130000000000003", "LASST150000000000003",
                 "LASST160000000000003", "LASST170000000000003", "LASST180000000000003", "LASST190000000000003",
                 "LASST200000000000003", "LASST210000000000003", "LASST220000000000003", "LASST230000000000003",
                 "LASST240000000000003", "LASST250000000000003", "LASST260000000000003", "LASST270000000000003",
                 "LASST280000000000003", "LASST290000000000003", "LASST300000000000003", "LASST310000000000003",
                 "LASST320000000000003", "LASST330000000000003", "LASST340000000000003", "LASST350000000000003",
                 "LASST360000000000003", "LASST370000000000003", "LASST380000000000003", "LASST390000000000003",
                 "LASST400000000000003", "LASST410000000000003", "LASST420000000000003", "LASST720000000000003",
                 "LASST440000000000003", "LASST450000000000003", "LASST460000000000003", "LASST470000000000003",
                 "LASST480000000000003", "LASST490000000000003", "LASST500000000000003", "LASST510000000000003",
                 "LASST530000000000003", "LASST540000000000003"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data2 = json.loads(p.text)

In [75]:
# Pull state data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LASST550000000000003", "LASST560000000000003"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data3 = json.loads(p.text)

In [76]:
years = []
months = []
date = []

for data_point in np.arange(len(json_data2["Results"]["series"][0]["data"])):
        years.append(json_data2["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data2["Results"]["series"][0]["data"][data_point]["periodName"])
        date.append(f"{json_data['Results']['series'][0]['data'][data_point]['year']}-{json_data['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [77]:
# Create DataFrame

state_unemployment_df = pd.DataFrame({"Date": date,
                                "Year": years,
                                "Month": months,
                                "LASST010000000000003": "", "LASST020000000000003": "", "LASST040000000000003": "",
                                "LASST050000000000003": "", "LASST060000000000003": "", "LASST080000000000003": "",
                                "LASST090000000000003": "", "LASST100000000000003": "", "LASST110000000000003": "",
                                "LASST120000000000003": "", "LASST130000000000003": "", "LASST150000000000003": "",
                                "LASST160000000000003": "", "LASST170000000000003": "", "LASST180000000000003": "",
                                "LASST190000000000003": "", "LASST200000000000003": "", "LASST210000000000003": "",
                                "LASST220000000000003": "", "LASST230000000000003": "", "LASST240000000000003": "",
                                "LASST250000000000003": "", "LASST260000000000003": "", "LASST270000000000003": "",
                                "LASST280000000000003": "", "LASST290000000000003": "", "LASST300000000000003": "",
                                "LASST310000000000003": "", "LASST320000000000003": "", "LASST330000000000003": "",
                                "LASST340000000000003": "", "LASST350000000000003": "", "LASST360000000000003": "",
                                "LASST370000000000003": "", "LASST380000000000003": "", "LASST390000000000003": "",
                                "LASST400000000000003": "", "LASST410000000000003": "", "LASST420000000000003": "",
                                "LASST720000000000003": "", "LASST440000000000003": "", "LASST450000000000003": "",
                                "LASST460000000000003": "", "LASST470000000000003": "", "LASST480000000000003": "",
                                "LASST490000000000003": "", "LASST500000000000003": "", "LASST510000000000003": "",
                                "LASST530000000000003": "", "LASST540000000000003": "", "LASST550000000000003": "",
                                "LASST560000000000003": ""})
state_unemployment_df.head()

,Date,Year,Month,LASST010000000000003,LASST020000000000003,LASST040000000000003,LASST050000000000003,LASST060000000000003,LASST080000000000003,LASST090000000000003,...,LASST460000000000003,LASST470000000000003,LASST480000000000003,LASST490000000000003,LASST500000000000003,LASST510000000000003,LASST530000000000003,LASST540000000000003,LASST550000000000003,LASST560000000000003
0,2011-12,2011,December,,,,,,,,...,,,,,,,,,,
1,2011-11,2011,November,,,,,,,,...,,,,,,,,,,
2,2011-10,2011,October,,,,,,,,...,,,,,,,,,,
3,2011-09,2011,September,,,,,,,,...,,,,,,,,,,
4,2011-08,2011,August,,,,,,,,...,,,,,,,,,,

In [78]:
# Fills in values

for series2 in np.arange(len(json_data2["Results"]["series"])):
    for data_point2 in np.arange(len(json_data2["Results"]["series"][series2]["data"])):
        state_unemployment_df.loc[data_point2, json_data2["Results"]["series"][series2]["seriesID"]] = json_data2["Results"]["series"][series2]["data"][data_point2]["value"]

for series3 in np.arange(len(json_data3["Results"]["series"])):
    for data_point3 in np.arange(len(json_data3["Results"]["series"][series3]["data"])):
        state_unemployment_df.loc[data_point3, json_data3["Results"]["series"][series3]["seriesID"]] = json_data3["Results"]["series"][series3]["data"][data_point3]["value"]

In [79]:
# Rename Column labels

state_unemployment_df.rename(columns={"LASST010000000000003" : "Alabama", "LASST020000000000003" : "Alaska",
                                      "LASST040000000000003" : "Arizona", "LASST050000000000003" : "Arkansas",
                                      "LASST060000000000003" : "California", "LASST080000000000003" : "Colorado",
                                      "LASST090000000000003" : "Connecticut", "LASST100000000000003" : "Delaware",
                                      "LASST110000000000003" : "District Of Columbia", "LASST120000000000003" : "Florida",
                                      "LASST130000000000003" : "Georgia", "LASST150000000000003" : "Hawaii",
                                      "LASST160000000000003" : "Idaho", "LASST170000000000003" : "Illinois",
                                      "LASST180000000000003" : "Indiana", "LASST190000000000003" : "Iowa",
                                      "LASST200000000000003" : "Kansas", "LASST210000000000003" : "Kentucky",
                                      "LASST220000000000003" : "Louisiana", "LASST230000000000003" : "Maine",
                                      "LASST240000000000003" : "Maryland", "LASST250000000000003" : "Massachusetts",
                                      "LASST260000000000003" : "Michigan", "LASST270000000000003" : "Minnesota",
                                      "LASST280000000000003" : "Mississippi", "LASST290000000000003" : "Missouri",
                                      "LASST300000000000003" : "Montana", "LASST310000000000003" : "Nebraska",
                                      "LASST320000000000003" : "Nevada", "LASST330000000000003" : "New Hampshire",
                                      "LASST340000000000003" : "New Jersey", "LASST350000000000003" : "New Mexico",
                                      "LASST360000000000003" : "New York", "LASST370000000000003" : "North Carolina",
                                      "LASST380000000000003" : "North Dakota", "LASST390000000000003" : "Ohio",
                                      "LASST400000000000003" : "Oklahoma", "LASST410000000000003" : "Oregon",
                                      "LASST420000000000003" : "Pennsylvania", "LASST720000000000003" : "Puerto Rico",
                                      "LASST440000000000003" : "Rhode Island", "LASST450000000000003" : "South Carolina",
                                      "LASST460000000000003" : "South Dakota", "LASST470000000000003" : "Tennessee",
                                      "LASST480000000000003" : "Texas", "LASST490000000000003" : "Utah",
                                      "LASST500000000000003" : "Vermont", "LASST510000000000003" : "Virginia",
                                      "LASST530000000000003" : "Washington", "LASST540000000000003" : "West Virginia",
                                      "LASST550000000000003" : "Wisconsin", "LASST560000000000003" : "Wyoming"},
                             inplace=True)

state_unemployment_df.sort_values(by="Date", ascending=True, inplace=True)

state_unemployment_df.reset_index(drop=True, inplace=True)

state_unemployment_df.to_csv("State_Unemployment_Rates.csv", index=False)

state_unemployment_df

,Date,Year,Month,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2008-01,2008,January,4.4,6.5,4.5,5.0,6.0,4.1,4.9,...,2.6,5.4,4.3,3.0,4.3,3.4,4.7,4.5,4.5,2.8
1,2008-02,2008,February,4.5,6.5,4.7,5.0,6.1,4.2,5.0,...,2.6,5.5,4.3,3.0,4.3,3.4,4.7,4.4,4.4,2.8
2,2008-03,2008,March,4.6,6.6,5.0,4.9,6.2,4.3,5.1,...,2.6,5.6,4.3,3.1,4.3,3.4,4.8,4.3,4.3,2.8
3,2008-04,2008,April,4.8,6.6,5.3,5.0,6.5,4.4,5.2,...,2.7,5.8,4.4,3.2,4.4,3.5,4.9,4.2,4.3,2.8
4,2008-05,2008,May,5.1,6.7,5.6,5.0,6.7,4.5,5.3,...,2.8,6.1,4.5,3.2,4.4,3.7,5.0,4.1,4.4,2.8
5,2008-06,2008,June,5.3,6.7,5.9,5.2,7.0,4.7,5.5,...,2.9,6.4,4.6,3.3,4.5,3.8,5.2,4.1,4.5,2.9
6,2008-07,2008,July,5.6,6.7,6.3,5.3,7.3,4.9,5.7,...,3.1,6.7,4.8,3.4,4.6,3.9,5.4,4.0,4.7,2.9
7,2008-08,2008,August,5.9,6.7,6.6,5.5,7.6,5.0,5.9,...,3.2,6.9,4.9,3.6,4.7,4.0,5.5,4.1,4.9,3.1
8,2008-09,2008,September,6.2,6.8,6.9,5.8,7.9,5.2,6.1,...,3.4,7.2,5.1,3.7,4.8,4.2,5.7,4.2,5.2,3.2
9,2008-10,2008,October,6.7,6.8,7.3,6.1,8.3,5.4,6.3,...,3.5,7.5,5.3,3.9,5.1,4.4,6.0,4.4,5.5,3.3
10,2008-11,2008,November,7.4,6.9,7.6,6.4,8.7,5.6,6.4,...,3.8,7.9,5.6,4.1,5.4,4.7,6.3,4.8,5.9,3.5
11,2008-12,2008,December,8.1,7.0,8.0,6.8,9.2,5.9,6.6,...,4.0,8.5,5.8,5.5,5.7,5.1,6.7,5.3,6.5,3.9
12,2009-01,2009,January,8.9,7.1,8.4,7.1,9.7,6.1,6.9,...,4.3,9.1,6.1,6.2,6.1,5.5,7.1,5.8,7.0,4.4
13,2009-02,2009,February,9.6,7.3,8.8,7.4,10.1,6.4,7.1,...,4.6,9.8,6.3,6.7,6.4,6.0,7.5,6.4,7.6,5.0
14,2009-03,2009,March,10.2,7.4,9.1,7.6,10.5,6.7,7.3,...,4.8,10.3,6.5,7.0,6.7,6.3,7.8,7.0,8.1,5.6
15,2009-04,2009,April,10.7,7.6,9.4,7.8,10.8,7.0,7.5,...,5.0,10.6,6.6,7.2,6.9,6.5,8.4,7.5,8.4,6.1
16,2009-05,2009,May,11.0,7.7,9.7,7.9,11.0,7.2,7.7,...,5.1,10.8,7.6,7.3,6.9,6.7,8.8,7.9,8.7,6.5
17,2009-06,2009,June,11.3,7.8,9.9,7.9,11.2,7.4,7.9,...,5.1,10.9,8.0,7.4,6.9,6.8,9.2,8.1,8.8,6.7
18,2009-07,2009,July,11.5,7.9,10.2,7.9,11.4,7.5,8.1,...,5.0,10.8,8.2,7.5,6.8,6.8,9.5,8.2,8.9,6.8
19,2009-08,2009,August,11.6,8.0,10.4,8.0,11.5,7.6,8.2,...,5.0,10.8,8.3,7.6,6.6,6.9,9.9,8.2,8.9,6.8
20,2009-09,2009,September,11.7,8.0,10.6,8.0,11.7,7.7,8.4,...,5.0,10.7,8.3,7.6,6.5,7.0,10.2,8.2,9.0,6.9
21,2009-10,2009,October,11.8,8.0,10.8,8.0,11.8,7.8,8.5,...,5.0,10.6,8.3,7.7,6.4,7.1,10.3,8.3,9.1,7.0
22,2009-11,2009,November,11.8,8.0,10.9,8.1,11.9,8.0,8.7,...,5.1,10.6,8.3,7.8,6.3,7.2,10.3,8.4,9.2,7.1
23,2009-12,2009,December,11.8,8.0,10.9,8.2,12.1,8.2,8.8,...,5.1,10.5,8.3,7.8,6.3,7.4,10.4,8.5,9.2,7.1
24,2010-01,2010,January,11.7,8.0,10.9,8.2,12.2,8.3,9.0,...,5.1,10.4,8.3,7.9,6.3,7.4,10.4,8.6,9.3,7.1
25,2010-02,2010,February,11.6,8.0,10.8,8.2,12.2,8.5,9.0,...,5.1,10.3,8.3,7.9,6.3,7.5,10.4,8.6,9.2,7.1
26,2010-03,2010,March,11.4,8.0,10.7,8.2,12.3,8.6,9.1,...,5.1,10.1,8.3,8.0,6.2,7.4,10.3,8.6,9.1,6.9
27,2010-04,2010,April,10.8,8.0,10.6,8.1,12.2,8.7,9.1,...,5.0,9.8,8.2,8.0,6.2,7.3,10.2,8.5,8.9,6.7
28,2010-05,2010,May,10.4,7.9,10.4,8.1,12.2,8.7,9.1,...,4.9,9.6,8.1,7.9,6.1,7.2,10.0,8.5,8.7,6.5
29,2010-06,2010,June,10.1,7.8,10.3,8.1,12.2,8.7,9.1,...,4.9,9.3,8.0,7.9,6.1,7.1,9.9,8.5,8.6,6.3
30,2010-07,2010,July,10.0,7.8,10.2,8.1,12.2,8.8,9.1,...,4.9,9.2,8.0,7.9,6.0,7.0,9.8,8.5,8.5,6.2
31,2010-08,2010,August,9.9,7.8,10.2,8.1,12.2,8.8,9.1,...,4.9,9.2,8.0,7.8,6.0,7.0,9.8,8.6,8.4,6.1
32,2010-09,2010,September,10.0,7.8,10.1,8.2,12.2,8.9,9.2,...,4.9,9.3,8.1,7.8,6.0,7.0,9.8,8.7,8.4,6.1
33,2010-10,2010,October,10.1,7.8,10.1,8.3,12.3,8.9,9.2,...,4.9,9.4,8.1,7.7,6.0,6.9,9.8,8.8,8.3,6.1
34,2010-11,2010,November,10.2,7.8,10.0,8.3,12.3,8.9,9.3,...,5.0,9.5,8.1,7.6,5.9,6.9,9.8,8.8,8.2,6.1
35,2010-12,2010,December,10.3,7.8,9.9,8.4,12.2,8.9,9.3,...,5.0,9.5,8.1,7.6,5.9,6.8,9.7,8.8,8.1,6.2
36,2011-01,2011,January,10.2,7.8,9.8,8.5,12.1,8.8,9.2,...,5.0,9.5,8.0,7.5,5.8,6.7,9.6,8.7,8.0,6.1
37,2011-02,2011,February,10.2,7.7,9.7,8.5,12.0,8.7,9.2,...,5.0,9.4,7.9,7.4,5.7,6.6,9.5,8.5,8.0,6.1
38,2011-03,2011,March,10.1,7.7,9.7,8.5,11.9,8.5,9.2,...,5.0,9.3,7.9,7.2,5.6,6.5,9.5,8.3,7.9,6.0
39,2011-04,2011,April,10.0,7.6,9.7,8.5,11.8,8.4,9.1,...,4.9,9.2,7.9,7.1,5.5,6.5,9.4,8.2,7.9,5.9
40,2011-05,2011,May,10.0,7.6,9.7,8.5,11.8,8.3,9.0,...,4.8,9.2,7.9,7.0,5.5,6.6,9.4,8.1,7.9,5.8
41,2011-06,2011,June,10.0,7.5,9.7,8.4,11.8,8.3,8.9,...,4.7,9.1,7.9,6.8,5.4,6.6,9.4,8.0,7.9,5.7
42,2011-07,2011,July,9.9,7.5,9.7,8.4,11.8,8.3,8.8,...,4.7,9.1,7.9,6.7,5.4,6.7,9.3,8.0,7.8,5.7
43,2011-08,2011,August,9.7,7.5,9.6,8.3,11.7,8.2,8.7,...,4.6,9.0,7.8,6.5,5.4,6.7,9.3,8.0,7.8,5.6
44,2011-09,2011,September,9.4,7.5,9.4,8.2,11.6,8.2,8.6,...,4.6,8.8,7.7,6.4,5.4,6.7,9.2,7.9,7.7,5.7
45,2011-10,2011,October,9.0,7.5,9.2,8.0,11.5,8.2,8.5,...,4.5,8.6,7.6,6.3,5.4,6.6,9.0,7.8,7.5,5.7
46,2011-11,2011,November,8.6,7.5,9.0,7.9,11.3,8.2,8.4,...,4.5,8.3,7.4,6.1,5.3,6.5,8.9,7.7,7.4,5.6
47,2011-12,2011,December,8.3,7.4,8.8,7.8,11.2,8.2,8.3,...,4.4,8.1,7.2,6.0,5.2,6.4,8.8,7.5,7.3,5.6

## Unemployment level

In [80]:
# Pull unemploymend level data from Bureau of Labor Statistics

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"content-type": "application/json"}

target_series = ["LNS13000000", "LNS13023621", "LNS13023653", "LNS13025699", "LNS13023705", "LNS13023557", "LNS13023569"]




parameters = json.dumps({"seriesid": target_series,
             "startyear": start_year,
             "endyear": end_year,
             "registrationkey": bls_api_key})

p = requests.post(url, data=parameters, headers=headers)

json_data4 = json.loads(p.text)

In [81]:
years = []
months = []
date = []

for data_point in np.arange(len(json_data4["Results"]["series"][0]["data"])):
        years.append(json_data4["Results"]["series"][0]["data"][data_point]["year"])
        months.append(json_data4["Results"]["series"][0]["data"][data_point]["periodName"])
        date.append(f"{json_data['Results']['series'][0]['data'][data_point]['year']}-{json_data['Results']['series'][0]['data'][data_point]['period'][1:]}")

In [82]:
# Create DataFrame

layoffs_df = pd.DataFrame({"Date": date,
                           "years": years,
                           "months": months,
                           "LNS13000000": "",
                           "LNS13023621": "",
                           "LNS13023653": "",
                           "LNS13025699": "",
                           "LNS13023705": "",
                           "LNS13023557": "",
                           "LNS13023569": ""})
layoffs_df.head()

,Date,years,months,LNS13000000,LNS13023621,LNS13023653,LNS13025699,LNS13023705,LNS13023557,LNS13023569
0,2011-12,2011,December,,,,,,,
1,2011-11,2011,November,,,,,,,
2,2011-10,2011,October,,,,,,,
3,2011-09,2011,September,,,,,,,
4,2011-08,2011,August,,,,,,,

In [83]:
# Fills in values

for series4 in np.arange(len(json_data4["Results"]["series"])):
    for data_point4 in np.arange(len(json_data4["Results"]["series"][series4]["data"])):
        layoffs_df.loc[data_point4, json_data4["Results"]["series"][series4]["seriesID"]] = json_data4["Results"]["series"][series4]["data"][data_point4]["value"]

In [84]:
# Rename column labels

layoffs_df.rename(columns={"LNS13000000": "Unemployment level, 16yo and over, thousands",
                           "LNS13023621": "Job losers, 16yo and over, thousands",
                           "LNS13023653": "Job losers on layoff, 16yo and over, thousands",
                           "LNS13025699": "Job losers not on layoff, 16yo and over, thousands",
                           "LNS13023705": "Job leavers (quit), 16yo and over, thousands",
                           "LNS13023557": "Reentrants to labor force, 16yo and over, thousands",
                           "LNS13023569": "New entrants to labor force, 16yo and over, thousands"},
                 inplace=True)

layoffs_df.sort_values(by="Date", ascending=True, inplace=True)

layoffs_df.reset_index(drop=True, inplace=True)

layoffs_df.to_csv("Unemployment_Levels.csv", index=False)

layoffs_df

,Date,years,months,"Unemployment level, 16yo and over, thousands","Job losers, 16yo and over, thousands","Job losers on layoff, 16yo and over, thousands","Job losers not on layoff, 16yo and over, thousands","Job leavers (quit), 16yo and over, thousands","Reentrants to labor force, 16yo and over, thousands","New entrants to labor force, 16yo and over, thousands"
0,2008-01,2008,January,7685,3851,1066,2785,823,2203,677
1,2008-02,2008,February,7497,3894,993,2901,796,2129,656
2,2008-03,2008,March,7822,4119,1074,3045,796,2121,704
3,2008-04,2008,April,7637,4067,1109,2958,847,2119,625
4,2008-05,2008,May,8395,4252,1071,3181,868,2493,797
5,2008-06,2008,June,8575,4390,1092,3298,859,2533,786
6,2008-07,2008,July,8937,4539,1074,3465,880,2662,835
7,2008-08,2008,August,9438,4942,1246,3696,1019,2655,821
8,2008-09,2008,September,9494,5257,1345,3912,995,2599,815
9,2008-10,2008,October,10074,5706,1325,4381,931,2623,819
10,2008-11,2008,November,10538,6228,1421,4807,927,2693,763
11,2008-12,2008,December,11286,6653,1505,5148,990,2826,803
12,2009-01,2009,January,12058,7450,1497,5953,901,2806,775
13,2009-02,2009,February,12898,8079,1519,6560,837,2939,999
14,2009-03,2009,March,13426,8539,1614,6926,882,3028,872
15,2009-04,2009,April,13853,8960,1684,7276,869,3107,901
16,2009-05,2009,May,14499,9421,1798,7623,904,3201,965
17,2009-06,2009,June,14707,9529,1712,7816,819,3331,1001
18,2009-07,2009,July,14601,9464,1713,7751,891,3260,1004
19,2009-08,2009,August,14814,9641,1654,7987,842,3282,1085
20,2009-09,2009,September,15009,9956,1894,8063,880,3262,1153
21,2009-10,2009,October,15352,9931,1672,8259,903,3411,1102
22,2009-11,2009,November,15219,9752,1522,8229,936,3236,1330
23,2009-12,2009,December,15098,9591,1496,8095,923,3371,1241
24,2010-01,2010,January,15046,9341,1463,7878,911,3650,1195
25,2010-02,2010,February,15113,9596,1575,8021,877,3469,1192
26,2010-03,2010,March,15202,9575,1668,7907,893,3591,1146
27,2010-04,2010,April,15325,9415,1391,8024,930,3772,1187
28,2010-05,2010,May,14849,9237,1469,7768,973,3388,1202
29,2010-06,2010,June,14474,9039,1353,7686,888,3300,1174
30,2010-07,2010,July,14512,8999,1194,7805,903,3377,1208
31,2010-08,2010,August,14648,9127,1444,7683,870,3372,1278
32,2010-09,2010,September,14579,9142,1338,7804,804,3399,1217
33,2010-10,2010,October,14516,8884,1272,7612,854,3481,1277
34,2010-11,2010,November,15081,9491,1442,8048,860,3445,1275
35,2010-12,2010,December,14348,8831,1374,7458,920,3379,1306
36,2011-01,2011,January,14013,8475,1224,7252,915,3358,1342
37,2011-02,2011,February,13820,8353,1302,7051,888,3348,1287
38,2011-03,2011,March,13737,8338,1250,7088,888,3317,1287
39,2011-04,2011,April,13957,8294,1289,7005,951,3416,1305
40,2011-05,2011,May,13855,8264,1247,7018,915,3379,1227
41,2011-06,2011,June,13962,8157,1183,6974,969,3514,1242
42,2011-07,2011,July,13763,8114,1179,6935,939,3383,1281
43,2011-08,2011,August,13818,8009,1181,6829,979,3520,1254
44,2011-09,2011,September,13948,8027,1203,6824,973,3470,1378
45,2011-10,2011,October,13594,7891,1247,6644,1086,3370,1287
46,2011-11,2011,November,13302,7651,1180,6471,1011,3357,1277
47,2011-12,2011,December,13093,7555,1238,6317,952,3359,1282

## COVID cases

In [85]:
url = "https://covidtracking.com/api/us/daily"

response = requests.get(url).json()

# print(json.dumps(response, indent=True))

In [86]:
dates = []
cum_positives = []
cum_deaths = []
inc_positives = []
inc_deaths = []

In [87]:
for day in np.arange(len(response)):
    dates.append(response[day]["date"])
    cum_positives.append(response[day]["positive"])
    cum_deaths.append(response[day]["death"])
    inc_positives.append(response[day]["positiveIncrease"])
    inc_deaths.append(response[day]["deathIncrease"])

In [88]:
sick_df = pd.DataFrame({"Date" : dates,
                       "Total Cases" : cum_positives,
                       "Total Deaths" : cum_deaths,
                       "Daily increase in Cases" : inc_positives,
                       "Daily increase in Deaths" : inc_deaths})

sick_df.loc[len(inc_positives)-1, "Daily increase in Deaths"] = sick_df.loc[len(cum_positives)-1, "Total Deaths"]
sick_df.loc[len(inc_deaths)-1, "Daily increase in Cases"] = sick_df.loc[len(cum_deaths)-1, "Total Cases"]

sick_df["Date"] = sick_df["Date"].astype(str)

In [89]:
for x in np.arange(len(dates)):
    sick_df.loc[x,"Date"] = f"{sick_df.loc[x,'Date'][0:4]}-{sick_df.loc[x,'Date'][4:6]}-{sick_df.loc[x,'Date'][6:]}"

sick_df.sort_values(by="Date", ascending=True, inplace=True)

sick_df.reset_index(drop=True, inplace=True)

In [90]:
sick_df.to_csv("COVID_cases.csv", index=False)
sick_df

,Date,Total Cases,Total Deaths,Daily increase in Cases,Daily increase in Deaths
0,2020-02-28,9,4,9.0,4.0
1,2020-02-29,18,5,9.0,1.0
2,2020-03-01,31,8,13.0,3.0
3,2020-03-02,35,11,4.0,3.0
4,2020-03-03,60,14,25.0,3.0
5,2020-03-04,157,16,97.0,2.0
6,2020-03-05,204,20,47.0,4.0
7,2020-03-06,296,26,92.0,6.0
8,2020-03-07,422,27,126.0,1.0
9,2020-03-08,563,31,141.0,4.0
10,2020-03-09,794,35,231.0,4.0
11,2020-03-10,1007,37,213.0,2.0
12,2020-03-11,1262,43,255.0,6.0
13,2020-03-12,1521,51,259.0,8.0
14,2020-03-13,2166,55,645.0,4.0
15,2020-03-14,2675,63,509.0,8.0
16,2020-03-15,3455,76,780.0,13.0
17,2020-03-16,4302,97,847.0,21.0
18,2020-03-17,6038,119,1736.0,22.0
19,2020-03-18,8106,142,2068.0,23.0
20,2020-03-19,12078,185,3972.0,43.0
21,2020-03-20,17430,247,5352.0,62.0
22,2020-03-21,23679,297,6249.0,50.0
23,2020-03-22,32328,426,8649.0,129.0
24,2020-03-23,42605,509,10277.0,83.0
25,2020-03-24,52574,706,9969.0,197.0
26,2020-03-25,69508,931,16934.0,225.0
27,2020-03-26,86811,1208,17303.0,277.0
28,2020-03-27,105484,1574,18673.0,366.0
29,2020-03-28,124884,2001,19400.0,427.0
30,2020-03-29,144377,2467,19493.0,466.0
31,2020-03-30,165597,2983,21220.0,516.0
32,2020-03-31,190078,3803,24481.0,820.0
33,2020-04-01,215329,4746,25251.0,943.0
34,2020-04-02,243403,5835,28074.0,1089.0
35,2020-04-03,275457,7026,32054.0,1191.0
36,2020-04-04,308993,8379,33536.0,1353.0
37,2020-04-05,334967,9554,25974.0,1175.0
38,2020-04-06,363719,10720,28752.0,1166.0
39,2020-04-07,394156,12646,30437.0,1926.0
40,2020-04-08,424289,14547,30133.0,1901.0
41,2020-04-09,458635,16424,34346.0,1877.0
42,2020-04-10,493252,18488,34617.0,2064.0
43,2020-04-11,522843,20355,29591.0,1867.0
44,2020-04-12,551826,21919,28983.0,1564.0

## Economic Indicators

In [91]:
# csv files are downloaded from Yahoo Finance

file_path1 = "Resources/2020_GSPC.csv"
file_path2 = "Resources/2020_DJI.csv"
file_path3 = "Resources/2020_IXIC.csv"
file_path4 = "Resources/2020_RUT.csv"

SP500_df = pd.read_csv(file_path1)
Dow_df = pd.read_csv(file_path2)
NASDAQ_df = pd.read_csv(file_path3)
Russell2000_df = pd.read_csv(file_path4)

In [92]:
SP500_df = SP500_df[["Date", "Close", "Volume"]]
Dow_df = Dow_df[["Date", "Close", "Volume"]]
NASDAQ_df = NASDAQ_df[["Date", "Close", "Volume"]]
Russell2000_df = Russell2000_df[["Date", "Close", "Volume"]]

In [93]:
eco_ind_df = pd.merge(SP500_df, Dow_df, on="Date", how="outer", suffixes=["_SP500", "_Dow_Jones_Industrial_Average"])
eco_ind_2_df = pd.merge(NASDAQ_df, Russell2000_df, on="Date", how="outer", suffixes=["_NASDAQ", "_Russell2000"])
eco_ind_df = pd.merge(eco_ind_df, eco_ind_2_df, on="Date", how="outer")

eco_ind_df.sort_values(by="Date", ascending=True, inplace=True)

eco_ind_df

,Date,Close_SP500,Volume_SP500,Close_Dow_Jones_Industrial_Average,Volume_Dow_Jones_Industrial_Average,Close_NASDAQ,Volume_NASDAQ,Close_Russell2000,Volume_Russell2000
0,2019-10-14,2966.149902,2557020000,26787.359375,178620000,8048.649902,1419730000,1505.430054,25570200
1,2019-10-15,2995.679932,3340740000,27024.800781,245510000,8148.709961,1836650000,1523.300049,33407400
2,2019-10-16,2989.689941,3222570000,27001.980469,214660000,8124.180176,1886720000,1525.060059,32225700
3,2019-10-17,2997.949951,3115960000,27025.880859,222540000,8156.850098,1861570000,1541.839966,31159600
4,2019-10-18,2986.199951,3264290000,26770.199219,288970000,8089.540039,2012930000,1535.479980,32642900
...,...,...,...,...,...,...,...,...,...
119,2020-04-03,2488.649902,6087190000,21052.529297,450010000,7373.080078,3279100000,1052.050049,60871900
120,2020-04-06,2663.679932,6391860000,22679.990234,610760000,7913.240234,3849100000,1138.780029,63918600
121,2020-04-07,2659.409912,7040720000,22653.859375,594660000,7887.259766,4069410000,1139.170044,70407200
122,2020-04-08,2749.979980,5856370000,23433.570313,472740000,8090.899902,3470730000,1191.660034,58563700
123,2020-04-09,2789.820068,7880140000,23719.369141,566400000,8153.580078,4123670000,1246.729980,78801400

In [94]:
eco_ind_df.to_csv("Eco_Indicators.csv", index=False)

In [95]:
COVID_econ_df = pd.merge(sick_df, eco_ind_df, on="Date", how="inner")
COVID_econ_df = COVID_econ_df.drop(["Daily increase in Cases", "Daily increase in Deaths"], axis=1)
COVID_econ_df.to_csv("COVID_econ.csv")
COVID_econ_df

,Date,Total Cases,Total Deaths,Close_SP500,Volume_SP500,Close_Dow_Jones_Industrial_Average,Volume_Dow_Jones_Industrial_Average,Close_NASDAQ,Volume_NASDAQ,Close_Russell2000,Volume_Russell2000
0,2020-02-28,9,4,2954.219971,8563850000,25409.359375,915990000,8567.370117,5301170000,1476.430054,85638500
1,2020-03-02,35,11,3090.229980,6376400000,26703.320313,637200000,8952.169922,4232760000,1518.489990,63764000
2,2020-03-03,60,14,3003.370117,6355940000,25917.410156,647080000,8684.089844,4336700000,1486.079956,63559400
3,2020-03-04,157,16,3130.120117,5035480000,27090.859375,457590000,9018.089844,3602870000,1531.199951,50354800
4,2020-03-05,204,20,3023.939941,5575550000,26121.279297,477370000,8738.589844,3748090000,1478.819946,55755500
5,2020-03-06,296,26,2972.370117,6552140000,25864.779297,599780000,8575.620117,4279850000,1449.219971,65521400
6,2020-03-09,794,35,2746.560059,8423050000,23851.019531,750430000,7950.680176,4530350000,1313.439941,84230500
7,2020-03-10,1007,37,2882.229980,7635960000,25018.160156,654860000,8344.250000,4431930000,1350.900024,76359600
8,2020-03-11,1262,43,2741.379883,7374110000,23553.220703,663960000,7952.049805,4273890000,1264.300049,73741100
9,2020-03-12,1521,51,2480.639893,8829380000,21200.619141,908260000,7201.799805,5066530000,1122.930054,88293800
10,2020-03-13,2166,55,2711.020020,8258670000,23185.619141,843080000,7874.879883,4685890000,1210.130005,82586700
11,2020-03-16,4302,97,2386.129883,7781540000,20188.519531,770130000,6904.589844,4594360000,1037.420044,77815400
12,2020-03-17,6038,119,2529.189941,8358500000,21237.380859,793060000,7334.779785,4900000000,1106.510010,83585000
13,2020-03-18,8106,142,2398.100098,8755780000,19898.919922,871360000,6989.839844,4890820000,991.159973,87557800
14,2020-03-19,12078,185,2409.389893,7946710000,20087.189453,780300000,7150.580078,4762170000,1058.750000,79467100
15,2020-03-20,17430,247,2304.919922,9044690000,19173.980469,872290000,6879.520020,5239940000,1013.890015,90446900
16,2020-03-23,42605,509,2237.399902,7402180000,18591.929688,787970000,6860.669922,4330610000,1002.400024,74021800
17,2020-03-24,52574,706,2447.330078,7547350000,20704.910156,799340000,7417.859863,4417380000,1096.540039,75473500
18,2020-03-25,69508,931,2475.560059,8285670000,21200.550781,796320000,7384.299805,4666440000,1110.369995,82856700
19,2020-03-26,86811,1208,2630.070068,7753160000,22552.169922,705180000,7797.540039,3999850000,1180.319946,77531600
20,2020-03-27,105484,1574,2541.469971,6194330000,21636.779297,588830000,7502.379883,3977010000,1131.989990,61943300
21,2020-03-30,165597,2983,2626.649902,5746220000,22327.480469,545540000,7774.149902,3846900000,1158.319946,57462200
22,2020-03-31,190078,3803,2584.590088,6568290000,21917.160156,571210000,7700.100098,4059700000,1153.099976,65682900
23,2020-04-01,215329,4746,2470.500000,5947900000,20943.509766,506680000,7360.580078,3685510000,1071.989990,59479000
24,2020-04-02,243403,5835,2526.899902,6454990000,21413.439453,529540000,7487.310059,3608190000,1085.810059,64549900
25,2020-04-03,275457,7026,2488.649902,6087190000,21052.529297,450010000,7373.080078,3279100000,1052.050049,60871900
26,2020-04-06,363719,10720,2663.679932,6391860000,22679.990234,610760000,7913.240234,3849100000,1138.780029,63918600
27,2020-04-07,394156,12646,2659.409912,7040720000,22653.859375,594660000,7887.259766,4069410000,1139.170044,70407200
28,2020-04-08,424289,14547,2749.979980,5856370000,23433.570313,472740000,8090.899902,3470730000,1191.660034,58563700
29,2020-04-09,458635,16424,2789.820068,7880140000,23719.369141,566400000,8153.580078,4123670000,1246.729980,78801400